/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
@import "../variables";

.flatly .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
  //.transition-property(background-color);
  .transition-duration(@transition-duration);
}

.flatly .dijitButtonContents {
  outline: none;
  border: none !important;
  //display: block;
}

/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
.flatly .dijitButton .dijitButtonNode,
.flatly .dijitDropDownButton .dijitButtonNode,
.flatly .dijitComboButton .dijitButtonNode,
.flatly .dijitToggleButton .dijitButtonNode {
  border: @button-border;
  padding: @button-padding;
  color: @button-color;
  background: @button-background;
  .border-radius(@button-border-radius);
  .box-shadow(@button-box-shadow);
  .transition-duration(@transition-duration);
}

.flatly .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  border-left: @button-combo-separate-width solid transparent;
  // padding: @button-arrow-padding /* TODO: still needed? */
}

.flatly .dijitComboButtonHover .dijitArrowButton, .flatly .dijitComboButtonActive .dijitArrowButton {
  border-left: @button-combo-separate-width solid @button-combo-separate-color !important;
}

/*arrow styles for down/up/left/right directions*/
.flatly .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url("../@{image-form-button-arrows}");
  background-repeat: no-repeat;
  background-position: -51px 53%;
}

.flatly .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}

.flatly .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}

.flatly .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}

.flatly .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}

.flatly .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}

.flatly .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}

.flatly .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}

.flatly .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}

/* hover status */
.flatly .dijitButtonHover .dijitButtonNode,
.flatly .dijitDropDownButtonHover .dijitButtonNode,
.flatly .dijitComboButton .dijitButtonNodeHover,
.flatly .dijitComboButton .dijitDownArrowButtonHover,
.flatly .dijitToggleButtonHover .dijitButtonNode {
  border: @button-hovered-border;
  padding: @button-hovered-padding;
  color: @button-hovered-color;
  background: @button-hovered-background;
  .border-radius(@button-hovered-border-radius);
  .box-shadow(@button-hovered-box-shadow);
  .transition-duration(@transition-duration);
}

/* active, checked status */
.flatly .dijitButtonActive .dijitButtonNode,
.flatly .dijitDropDownButtonActive .dijitButtonNode,
.flatly .dijitComboButtonActive .dijitButtonNode,
.flatly .dijitToggleButtonActive .dijitButtonNode,
.flatly .dijitToggleButtonChecked .dijitButtonNode {
  border: @button-pressed-border;
  padding: @button-pressed-padding;
  color: @button-pressed-color;
  background: @button-pressed-background;
  .border-radius(@button-pressed-border-radius);
  .box-shadow(@button-pressed-box-shadow);
  .transition-duration(@transition-duration);
}

/* disabled status */
.flatly .dijitButtonDisabled,
.flatly .dijitDropDownButtonDisabled,
.flatly .dijitComboButtonDisabled,
.flatly .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}

.flatly .dijitButtonDisabled .dijitButtonNode,
.flatly .dijitDropDownButtonDisabled .dijitButtonNode,
.flatly .dijitComboButtonDisabled .dijitButtonNode,
.flatly .dijitToggleButtonDisabled .dijitButtonNode {
  border: @button-disabled-border;
  padding: @button-disabled-padding;
  color: @button-disabled-color;
  background: @button-disabled-background;
  .border-radius(@button-disabled-border-radius);
  .box-shadow(@button-disabled-box-shadow);
  .transition-duration(@transition-duration);
}

.flatly .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}

/* for ComboButton */
.flatly table.dijitComboButton {
  border-collapse: separate; /* override dijit.css so that ComboBox rounded corners work */
}

.flatly .dijitComboButton .dijitStretch {
  .border-radius(@button-border-radius 0 0 @button-border-radius);
}

.flatly .dijitComboButton .dijitArrowButton {
  .border-radius(0 @button-border-radius @button-border-radius 0);
  outline: none;
}

.flatly .dijitButtonBlue .dijitButtonNode {
  background: #6BB9F0;
  color: #FFFFFF;
}

.flatly .dijitButtonRed .dijitButtonNode {
  background: #E26A6A;
  color: #FFFFFF;
}

.flatly .dijitButtonGreen .dijitButtonNode {
  background: #87D37C;
  color: #FFFFFF;
}

.flatly .dijitButtonYellow .dijitButtonNode {
  background: #F9BF3B;
  color: #FFFFFF;
}