/* Combo Button */
.flatly .dijitComboButtonRtl .dijitStretch {
  -webkit-border-radius: 0 0px 0px 0;
  -moz-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
}
.flatly .dijitComboButtonRtl .dijitArrowButton {
  -webkit-border-radius: 0px 0 0 0px;
  -moz-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
  padding: 3px 0 4px;
  border-left-width: 1px;
  border-right-width: 0;
}
/* End Combo Button */
