/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
.flatly .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitButtonContents {
  outline: none;
  border: none !important;
}
/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
.flatly .dijitButton .dijitButtonNode,
.flatly .dijitDropDownButton .dijitButtonNode,
.flatly .dijitComboButton .dijitButtonNode,
.flatly .dijitToggleButton .dijitButtonNode {
  border: none;
  padding: 10px;
  color: #2c3e50;
  background: #ecf0f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  border-left: 1px solid transparent;
}
.flatly .dijitComboButtonHover .dijitArrowButton,
.flatly .dijitComboButtonActive .dijitArrowButton {
  border-left: 1px solid #c0cdd1 !important;
}
/*arrow styles for down/up/left/right directions*/
.flatly .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url("../form/images/buttonArrows.png");
  background-repeat: no-repeat;
  background-position: -51px 53%;
}
.flatly .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
.flatly .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
.flatly .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
.flatly .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
.flatly .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
.flatly .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
.flatly .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
.flatly .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
/* hover status */
.flatly .dijitButtonHover .dijitButtonNode,
.flatly .dijitDropDownButtonHover .dijitButtonNode,
.flatly .dijitComboButton .dijitButtonNodeHover,
.flatly .dijitComboButton .dijitDownArrowButtonHover,
.flatly .dijitToggleButtonHover .dijitButtonNode {
  border: none;
  padding: 10px;
  color: #2c3e50;
  background: #cfd9db;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
/* active, checked status */
.flatly .dijitButtonActive .dijitButtonNode,
.flatly .dijitDropDownButtonActive .dijitButtonNode,
.flatly .dijitComboButtonActive .dijitButtonNode,
.flatly .dijitToggleButtonActive .dijitButtonNode,
.flatly .dijitToggleButtonChecked .dijitButtonNode {
  border: none;
  padding: 10px;
  color: #2c3e50;
  background: #cfd9db;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
/* disabled status */
.flatly .dijitButtonDisabled,
.flatly .dijitDropDownButtonDisabled,
.flatly .dijitComboButtonDisabled,
.flatly .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
.flatly .dijitButtonDisabled .dijitButtonNode,
.flatly .dijitDropDownButtonDisabled .dijitButtonNode,
.flatly .dijitComboButtonDisabled .dijitButtonNode,
.flatly .dijitToggleButtonDisabled .dijitButtonNode {
  border: none;
  padding: 10px;
  color: #b1c2c6;
  background: #ecf0f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
/* for ComboButton */
.flatly table.dijitComboButton {
  border-collapse: separate;
  /* override dijit.css so that ComboBox rounded corners work */
}
.flatly .dijitComboButton .dijitStretch {
  -webkit-border-radius: 0px 0 0 0px;
  -moz-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}
.flatly .dijitComboButton .dijitArrowButton {
  -webkit-border-radius: 0 0px 0px 0;
  -moz-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
  outline: none;
}
.flatly .dijitButtonBlue .dijitButtonNode {
  background: #6BB9F0;
  color: #FFFFFF;
}
.flatly .dijitButtonRed .dijitButtonNode {
  background: #E26A6A;
  color: #FFFFFF;
}
.flatly .dijitButtonGreen .dijitButtonNode {
  background: #87D37C;
  color: #FFFFFF;
}
.flatly .dijitButtonYellow .dijitButtonNode {
  background: #F9BF3B;
  color: #FFFFFF;
}
