/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */
.flatly .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/checkmarkNoBorder.png");
}
.dj_ie6 .flatly .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/checkmarkNoBorder.gif");
}
.flatly .dijitCheckBox,
.flatly .dijitCheckBoxIcon {
  background-image: url("../form/images/checkboxRadioButtonStates.png");
  /* checkbox sprite image */
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  margin: 0 0 4px 0;
  padding: 0;
}
.dj_ie6 .flatly .dijitCheckBox,
.dj_ie6 .flatly .dijitCheckBoxIcon {
  background-image: url("../form/images/checkboxAndRadioButtons_IE6.png");
  /* checkbox sprite image */
}
.flatly .dijitCheckBox,
.flatly .dijitToggleButton .dijitCheckBoxIcon {
  /* unchecked */
  background-position: -15px;
}
.flatly .dijitCheckBoxChecked,
.flatly .dijitToggleButtonChecked .dijitCheckBoxIcon {
  /* checked */
  background-position: 0;
}
.flatly .dijitCheckBoxDisabled {
  /* disabled */
  background-position: -75px;
}
.flatly .dijitCheckBoxCheckedDisabled {
  /* disabled but checked */
  background-position: -60px;
}
.flatly .dijitCheckBoxHover {
  /* hovering over an unchecked enabled checkbox */
  background-position: -45px;
}
.flatly .dijitCheckBoxCheckedHover {
  /* hovering over an checked enabled checkbox */
  background-position: -30px;
}
