/* claro/form/Common.css */
/*========================= common css =========================*/
@import "../variables";

/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */

.flatly .dijitTextBox,
.flatly .dijitInputInner {
  // .dijitInputInner selector needed for ValidationTextBox on IE6 because <input> doesn't inherit
  // the color setting from the ancestor div.dijitTextBox
  color: @text-color;
}

.flatly .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: @erroricon-background-color;
  background-image: url("../@{image-form-error}");
  background-position: top center;
  border: solid @erroricon-background-color 0;
  width: 9px;
}

.flatly .dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}

.flatly .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent; /* so the INPUT doesn't obscure the border in rtl+a11y */
}

/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.flatly .dijitTextArea,
.flatly .dijitInputField .dijitPlaceHolder {
  padding: @input-padding;
  color: @input-place-holder-color;
  font-style: @input-place-holder-font-style;
}

.flatly .dijitSelect .dijitInputField,
.flatly .dijitTextBox .dijitInputField {
  // Subtract 1px from top/bottom because we add 1px to other nodes, see rules below.
  // Although we are theoretically only adding 1px to top/bottom browsers seem to pad inputs by 1px on left/right,
  // although that varies by so compensate for that too.
  padding: @input-padding - 1px  @input-padding;
}

.dj_gecko .flatly .dijitTextBox .dijitInputInner,
.dj_webkit .flatly .dijitTextBox .dijitInputInner {
  // Although we are theoretically only adding 1px to top/bottom, some browsers seem to pad inputs by 1px on left/right,
  // so compensate for that too.
  padding-left: @input-padding - 1px;
  padding-right: @input-padding - 1px;
}

.flatly .dijitSelect,
.flatly .dijitSelect .dijitButtonContents,
.flatly .dijitTextBox,
.flatly .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
  border: @border-width @border-style @input-border-color;
  .border-radius(@border-radius);
  .transition-duration(@transition-duration);
}

.flatly .dijitSelect,
.flatly .dijitTextBox {
  background-color: @input-background-color;
}

/* hover */
.flatly .dijitSelectHover,
.flatly .dijitSelectHover .dijitButtonContents,
.flatly .dijitTextBoxHover,
.flatly .dijitTextBoxHover .dijitButtonNode {
  border-color: @input-hovered-border-color;
  .transition-duration(@transition-duration);
}

.flatly .dijitTextBoxHover {
  background-color: @input-hovered-background-color;
  .textbox-background-image;
}

/* error state */
.flatly .dijitSelectError,
.flatly .dijitSelectError .dijitButtonContents,
.flatly .dijitTextBoxError,
.flatly .dijitTextBoxError .dijitButtonNode {
  border-color: @input-error-border-color;
}

/* focused state */
.flatly .dijitSelectFocused,
.flatly .dijitSelectFocused .dijitButtonContents,
.flatly .dijitTextBoxFocused,
.flatly .dijitTextBoxFocused .dijitButtonNode {
  border-color: @input-focused-border-color;
  .transition-duration(@transition-duration);
}

.flatly .dijitTextBoxFocused {
  background-color: @input-focused-background-color;
  .textbox-background-image;
}

.flatly .dijitTextBoxFocused .dijitInputContainer {
  background: @input-focused-background-color;
}

.flatly .dijitSelectErrorFocused,
.flatly .dijitSelectErrorFocused .dijitButtonContents,
.flatly .dijitTextBoxErrorFocused,
.flatly .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: @input-error-focused-border-color;
}

/* disabled state */
.flatly .dijitSelectDisabled,
.flatly .dijitSelectDisabled .dijitButtonContents,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitButtonNode {
  border-color: @input-disabled-border-color;
}

.flatly .dijitSelectDisabled,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitInputContainer {
  background-color: @input-disabled-background-color;
  background-image: none;
}

.flatly .dijitSelectDisabled,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitInputInner {
  color: @disabled-text-color;
}

.dj_webkit .flatly .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: darken(@disabled-text-color, 5%)
}

.dj_webkit .flatly textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: darken(@disabled-text-color, 40%)
}

/*========================= for special widgets =========================*/

/* Input boxes with an arrow (for a drop down) */

.flatly .dijitSelect .dijitArrowButtonInner,
.flatly .dijitComboBox .dijitArrowButtonInner {
  background-image: url("../@{image-form-common-arrows}");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
}

.flatly .dijitComboBox .dijitArrowButtonInner {
  border: 1px solid transparent; // white gutter around the arrow button
}

.flatly .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}

.flatly .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}

/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.flatly .dijitSelectLabel,
.flatly .dijitTextBox .dijitInputInner,
.flatly .dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}

.flatly .dijitComboBox .dijitButtonNode {
  background-color: @arrowbutton-background-color;
}

/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.flatly .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.flatly .dijitComboBox .dijitDownArrowButtonHover,
.flatly .dijitComboBoxFocused .dijitArrowButton {
  background-color: @arrowbutton-hovered-background-color;
}

.flatly .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.flatly .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}

/* Arrow Button change when drop down is open */
.flatly .dijitComboBox .dijitHasDropDownOpen {
  // .dijitHasDropDown is on dijitArrowButton node
  background-color: @pressed-background-color;
  .active-gradient("../");
  padding: 1px; // Since no border on arrow button (see rule below)
}

.dj_iequirks .flatly .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}

.flatly .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}

/* disabled state */
.flatly div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
   * (.flatly .dijitComboBoxDisabled .dijitArrowButtonInner) */
  background-position: 0 50%;
  background-color: @disabled-background-color;
}

/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .flatly .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}

.dj_borderbox .flatly .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px; // quirks mode means border-box sizing, so 18px with the border (same as 16px without border)
}

.dj_borderbox .flatly .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px; // when no border, then back to 16px just like content-box sizing
}
