/* claro/form/Common.css */
/*========================= common css =========================*/
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
.flatly .dijitTextBox,
.flatly .dijitInputInner {
  color: #2c3e50;
}
.flatly .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #e74c3c;
  background-image: url("../form/images/error.png");
  background-position: top center;
  border: solid #e74c3c 0;
  width: 9px;
}
.flatly .dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}
.flatly .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent;
  /* so the INPUT doesn't obscure the border in rtl+a11y */
}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.flatly .dijitTextArea,
.flatly .dijitInputField .dijitPlaceHolder {
  padding: 6px;
  color: #abb7b7;
  font-style: normal;
}
.flatly .dijitSelect .dijitInputField,
.flatly .dijitTextBox .dijitInputField {
  padding: 5px 6px;
}
.dj_gecko .flatly .dijitTextBox .dijitInputInner,
.dj_webkit .flatly .dijitTextBox .dijitInputInner {
  padding-left: 5px;
  padding-right: 5px;
}
.flatly .dijitSelect,
.flatly .dijitSelect .dijitButtonContents,
.flatly .dijitTextBox,
.flatly .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
  border: 2px solid #ecf0f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitSelect,
.flatly .dijitTextBox {
  background-color: #ffffff;
}
/* hover */
.flatly .dijitSelectHover,
.flatly .dijitSelectHover .dijitButtonContents,
.flatly .dijitTextBoxHover,
.flatly .dijitTextBoxHover .dijitButtonNode {
  border-color: #dde4e6;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitTextBoxHover {
  background-color: #fbfcfc;
}
/* error state */
.flatly .dijitSelectError,
.flatly .dijitSelectError .dijitButtonContents,
.flatly .dijitTextBoxError,
.flatly .dijitTextBoxError .dijitButtonNode {
  border-color: #e74c3c;
}
/* focused state */
.flatly .dijitSelectFocused,
.flatly .dijitSelectFocused .dijitButtonContents,
.flatly .dijitTextBoxFocused,
.flatly .dijitTextBoxFocused .dijitButtonNode {
  border-color: #3498db;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitTextBoxFocused {
  background-color: #ffffff;
}
.flatly .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.flatly .dijitSelectErrorFocused,
.flatly .dijitSelectErrorFocused .dijitButtonContents,
.flatly .dijitTextBoxErrorFocused,
.flatly .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #e43725;
}
/* disabled state */
.flatly .dijitSelectDisabled,
.flatly .dijitSelectDisabled .dijitButtonContents,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #ecf0f1;
}
.flatly .dijitSelectDisabled,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #ecf0f1;
  background-image: none;
}
.flatly .dijitSelectDisabled,
.flatly .dijitTextBoxDisabled,
.flatly .dijitTextBoxDisabled .dijitInputInner {
  color: #42555a;
}
.dj_webkit .flatly .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #37474b;
}
.dj_webkit .flatly textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #000000;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
.flatly .dijitSelect .dijitArrowButtonInner,
.flatly .dijitComboBox .dijitArrowButtonInner {
  background-image: url("../form/images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
}
.flatly .dijitComboBox .dijitArrowButtonInner {
  border: 1px solid transparent;
}
.flatly .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.flatly .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.flatly .dijitSelectLabel,
.flatly .dijitTextBox .dijitInputInner,
.flatly .dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.flatly .dijitComboBox .dijitButtonNode {
  background-color: #ecf0f1;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.flatly .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.flatly .dijitComboBox .dijitDownArrowButtonHover,
.flatly .dijitComboBoxFocused .dijitArrowButton {
  background-color: #cfd9db;
}
.flatly .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.flatly .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* Arrow Button change when drop down is open */
.flatly .dijitComboBox .dijitHasDropDownOpen {
  background-color: #b1c2c6;
  background-image: url("../images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
}
.dj_iequirks .flatly .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}
.flatly .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
.flatly div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
   * (.flatly .dijitComboBoxDisabled .dijitArrowButtonInner) */
  background-position: 0 50%;
  background-color: #ecf0f1;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .flatly .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_borderbox .flatly .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .flatly .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
