/* NumberSpinner - namespace "dijitSpinner"
 * 
 * Styling NumberSpinner mainly includes:
 * 
 * 1. Arrows
 * 		Outer containers: .dijitSpinnerButtonContainer|.dijitSpinnerButtonInner  - for border, padding and position
 * 		Arrows: .dijitArrowButton|.dijitUpArrowButton.|dijitDownArrowButton
 * 		Inner container: .dijitArrowButtonInner - for border, padding, width|height and background image
 * 
 * 2. Hover state
 * 		.dijitUpArrowButtonHover|.dijitDownArrowButtonHover .*  - for background color|image
 * 
 * 3. Active state
 * 		.dijitUpArrowButtonActive|.dijitDownArrowButtonActive .*  - for border, padding, margin and background color|image
 * 
 * 4. Focused state
 * 		.dijitSpinnerFocused .* - for background color|image
 * 
 * 5. Disabled state
 * 		.dijitSpinnerDisabled .* - for background color|image
 */
@import "../variables";

.flatly .dijitSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0 2px;
}

.flatly .dijitSpinnerButtonContainer .dijitSpinnerButtonInner {
  border-width: 1px 0; /* reserve space to match the claro combobox button border with border and not padding to make IE happier */
  border-style: solid none;
}

.flatly .dijitSpinnerButtonContainer .dijitButtonNode {
  border: none !important;
}

/* button */
.flatly .dijitSpinner .dijitArrowButton {
  width: auto;
  background-color: @arrowbutton-background-color;
  overflow: hidden;
}

.dj_iequirks .flatly .dijitSpinner .dijitArrowButton {
  overflow: visible; /* 0 height w/o this */
}

.flatly .dijitSpinner .dijitSpinnerButtonInner {
  width: 15px;
}

/* up & down button icons */
.flatly .dijitSpinner .dijitArrowButtonInner {
  //border: solid 1px @arrowbutton-inner-border-color;
  //border-bottom-width: 0; /* 2 top borders = 1 top+bottom border in ComboBox */
  background-image: url("../@{image-form-common-arrows}");
  background-repeat: no-repeat;
  height: 100%;
  width: 19px;
  //padding-left: 1px;
  //padding-right: 1px;

  /* for up arrow */
  background-position: -139px center;

  /* override button.css (TODO: move to Common.css since ComboBox needs this too) */
  display: block;
  //margin: -1px 0 -1px 0; /* compensate for inner border */
}

.dj_iequirks .flatly .dijitSpinner .dijitArrowButtonInner,
.dj_ie6 .flatly .dijitSpinner .dijitArrowButtonInner,
.dj_ie7 .flatly .dijitSpinner .dijitArrowButtonInner,
.dj_ie8 .flatly .dijitSpinner .dijitArrowButtonInner {
  margin-top: 0; /* since its bottom aligned */
}

.dj_iequirks .flatly .dijitSpinner .dijitArrowButtonInner {
  width: 19px;
}

.flatly .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -34px;
}

.flatly .dijitSpinner .dijitArrowButtonInner .dijitInputField {
  padding: 0;
}

/** hover & focused status **/

.flatly .dijitUpArrowButtonActive,
.flatly .dijitDownArrowButtonActive {
  background-color: @arrowbutton-pressed-background-color;
}

.flatly .dijitSpinner .dijitUpArrowButtonHover,
.flatly .dijitSpinner .dijitDownArrowButtonHover,
.flatly .dijitSpinnerFocused .dijitArrowButton {
  background-color: @arrowbutton-hovered-background-color;
}

.flatly .dijitSpinner .dijitUpArrowButtonHover .dijitArrowButtonInner {
  background-position: -174px;
}

.flatly .dijitSpinner .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -69px;
}

.flatly .dijitSpinnerFocused {
  background-color: @input-focused-background-color;
  background-image: none;
}

/* mouse down status */
.flatly .dijitSpinner .dijitDownArrowButtonActive,
.flatly .dijitSpinner .dijitUpArrowButtonActive {
  background-color: @arrowbutton-actived-background-color;
}

.flatly .dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner,
.flatly .dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  /* hide inner border while button is depressed */
  border: 0;
  //padding: 1px;
  //margin-right: 2px;
  //margin-bottom: 1px;
}

.flatly .dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner {
  background-position: -174px;
}

.flatly .dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  background-position: -69px;
}

/* disabled */

.flatly .dijitSpinnerDisabled .dijitArrowButtonInner {
  background-color: @disabled-background-color;
}

.flatly .dijitSpinnerDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -104px;
}

.flatly .dijitSpinnerDisabled .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: 1px;
}

/** hacks for browsers **/

/* for IE 7, when div is enlarged, 
 * should be no empty space between dijitInputLayoutContainer and dijitSpinner*/
.dj_ie7 .flatly .dijitSpinner {
  overflow: visible;
} 
