/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */
.flatly .dijitSelect {
  outline: none;
  display: inline-block;
}
.flatly .dijitSelect .dijitButtonContents {
  width: 100%;
}
/* normal status */
.flatly .dijitSelect .dijitArrowButtonContainer {
  border: 1px solid transparent;
}
.flatly .dijitSelect .dijitArrowButton {
  padding: 0;
  background-color: #ecf0f1;
}
.flatly .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  height: 16px;
  border-left: 1px solid transparent;
}
/* hover status */
.flatly .dijitSelectHover {
  background-color: #fbfcfc;
  background-repeat: repeat-x;
}
.flatly .dijitSelectHover .dijitArrowButton {
  background-color: #cfd9db;
}
.flatly .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* focused status */
.flatly .dijitSelectFocused .dijitArrowButton {
  background-color: #cfd9db;
}
.flatly .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* disable status */
.flatly .dijitSelectDisabled {
  border-color: #ecf0f1;
  background-color: #ecf0f1;
  background-image: none;
  color: #42555a;
}
.flatly .dijitSelectDisabled .dijitArrowButton {
  background-color: #ecf0f1;
}
.flatly .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
/* Dropdown menu style for select */
.flatly .dijitSelectMenu td.dijitMenuItemIconCell,
.flatly .dijitSelectMenu td.dijitMenuArrowCell {
  /* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
.flatly .dijitSelectMenu td.dijitMenuItemLabel {
  /* line up menu text with text in select box (in LTR and RTL modes) */
  padding: 6px;
}
.flatly .dijitSelectMenu .dijitMenuSeparatorTop {
  border-bottom: 1px solid #3498db;
}
