.flatly .dijitSliderRtl .dijitSliderProgressBarH,
.flatly .dijitSliderRtl .dijitSliderRemainingBarH,
.flatly .dijitSliderRtl .dijitSliderLeftBumper,
.flatly .dijitSliderRtl .dijitSliderRightBumper,
.flatly .dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.flatly .dijitSliderRtl .dijitSliderProgressBarV,
.flatly .dijitSliderRtl .dijitSliderRemainingBarV,
.flatly .dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.flatly .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.flatly .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.flatly .dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.flatly .dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
