/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */
.flatly .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.flatly .dijitSliderFocused .dijitSliderBar {
  border-color: #3498db;
}
.flatly .dijitSliderHover .dijitSliderBar {
  border-color: #a3b6bb;
}
.flatly .dijitSliderDisabled .dijitSliderBar {
  background-image: none;
  border-color: #b1c2c6;
}
.flatly .dijitRuleLabelsContainer {
  color: #2c3e50;
}
/* Horizontal Slider */
.flatly .dijitRuleLabelsContainerH {
  padding: 2px 0;
}
.flatly .dijitSlider .dijitSliderProgressBarH,
.flatly .dijitSlider .dijitSliderLeftBumper {
  border-color: #b1c2c6;
  background-color: #ecf0f1;
  background-image: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
}
.flatly .dijitSlider .dijitSliderRemainingBarH,
.flatly .dijitSlider .dijitSliderRightBumper {
  border-color: #b1c2c6;
  background-color: #ffffff;
}
.flatly .dijitSliderRightBumper {
  border-right: solid 1px #b1c2c6;
}
.flatly .dijitSliderLeftBumper {
  border-left: solid 1px #b1c2c6;
}
.flatly .dijitSliderHover .dijitSliderProgressBarH,
.flatly .dijitSliderHover .dijitSliderLeftBumper {
  background-color: #cfd9db;
  border-color: #a3b6bb;
}
.flatly .dijitSliderHover .dijitSliderRemainingBarH,
.flatly .dijitSliderHover .dijitSliderRightBumper {
  background-color: #ffffff;
  border-color: #a3b6bb;
}
.flatly .dijitSliderFocused .dijitSliderProgressBarH,
.flatly .dijitSliderFocused .dijitSliderLeftBumper {
  background-color: #cfd9db;
  border-color: #3498db;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.flatly .dijitSliderFocused .dijitSliderRemainingBarH,
.flatly .dijitSliderFocused .dijitSliderRightBumper {
  background-color: #ffffff;
  border-color: #3498db;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.flatly .dijitSliderDisabled .dijitSliderProgressBarH,
.flatly .dijitSliderDisabled .dijitSliderLeftBumper {
  background-color: #b1c2c6;
  /* left side of slider, fill matches border */
  background-image: none;
}
.flatly .dijitSliderDisabled .dijitSliderRemainingBarH,
.flatly .dijitSliderDisabled .dijitSliderRightBumper {
  background-color: #ecf0f1;
}
/* Vertical Slider */
.flatly .dijitRuleLabelsContainerV {
  padding: 0 2px;
}
.flatly .dijitSlider .dijitSliderProgressBarV,
.flatly .dijitSlider .dijitSliderBottomBumper {
  border-color: #b1c2c6;
  background-color: #ecf0f1;
  background-image: -moz-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
}
.flatly .dijitSlider .dijitSliderRemainingBarV,
.flatly .dijitSlider .dijitSliderTopBumper {
  border-color: #b1c2c6;
  background-color: #ffffff;
}
.flatly .dijitSliderBottomBumper {
  border-bottom: solid 1px #b1c2c6;
}
.flatly .dijitSliderTopBumper {
  border-top: solid 1px #b1c2c6;
}
.flatly .dijitSliderHover .dijitSliderProgressBarV,
.flatly .dijitSliderHover .dijitSliderBottomBumper {
  background-color: #cfd9db;
  border-color: #a3b6bb;
}
.flatly .dijitSliderHover .dijitSliderRemainingBarV,
.flatly .dijitSliderHover .dijitSliderTopBumper {
  background-color: #ffffff;
  border-color: #a3b6bb;
}
.flatly .dijitSliderFocused .dijitSliderProgressBarV,
.flatly .dijitSliderFocused .dijitSliderBottomBumper {
  background-color: #cfd9db;
  border-color: #3498db;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.flatly .dijitSliderFocused .dijitSliderRemainingBarV,
.flatly .dijitSliderFocused .dijitSliderTopBumper {
  background-color: #ffffff;
  border-color: #3498db;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.flatly .dijitSliderDisabled .dijitSliderProgressBarV,
.flatly .dijitSliderDisabled .dijitSliderBottomBumper {
  background-color: #b1c2c6;
  /* bottom side of slider, fill matches border */
}
.flatly .dijitSliderDisabled .dijitSliderRemainingBarV,
.flatly .dijitSliderDisabled .dijitSliderTopBumper {
  background-color: #ecf0f1;
}
/* ------- Thumbs ------- */
.flatly .dijitSliderImageHandleH {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.flatly .dijitSliderHover .dijitSliderImageHandleH {
  background-position: -18px 0;
}
.flatly .dijitSliderFocused .dijitSliderImageHandleH {
  background-position: -36px 0;
}
.flatly .dijitSliderProgressBarH .dijitSliderThumbHover {
  background-position: -36px 0;
}
.flatly .dijitSliderProgressBarH .dijitSliderThumbActive {
  background-position: -36px 0;
}
.flatly .dijitSliderReadOnly .dijitSliderImageHandleH,
.flatly .dijitSliderDisabled .dijitSliderImageHandleH {
  background-position: -54px 0;
}
.flatly .dijitSliderImageHandleV {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: -289px 0;
}
.flatly .dijitSliderHover .dijitSliderImageHandleV {
  background-position: -307px 0;
}
.flatly .dijitSliderFocused .dijitSliderImageHandleV {
  background-position: -325px 0;
}
.flatly .dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: -325px 0;
}
.flatly .dijitSliderProgressBarV .dijitSliderThumbActive {
  background-position: -325px 0;
}
.flatly .dijitSliderReadOnly .dijitSliderImageHandleV,
.flatly .dijitSliderDisabled .dijitSliderImageHandleV {
  background-position: -343px 0;
}
/* ---- Increment/Decrement Buttons ---- */
.flatly .dijitSliderButtonContainerH {
  padding: 1px 3px 1px 2px;
}
.flatly .dijitSliderButtonContainerV {
  padding: 3px 1px 2px 1px;
}
.flatly .dijitSliderDecrementIconH,
.flatly .dijitSliderIncrementIconH,
.flatly .dijitSliderDecrementIconV,
.flatly .dijitSliderIncrementIconV {
  background-image: url("../form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-color: #ecf0f1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #b1c2c6;
  font-size: 1px;
}
.flatly .dijitSliderDecrementIconH,
.flatly .dijitSliderIncrementIconH {
  height: 12px;
  width: 9px;
}
.flatly .dijitSliderDecrementIconV,
.flatly .dijitSliderIncrementIconV {
  height: 9px;
  width: 12px;
}
.flatly .dijitSliderActive .dijitSliderDecrementIconH,
.flatly .dijitSliderActive .dijitSliderIncrementIconH,
.flatly .dijitSliderActive .dijitSliderDecrementIconV,
.flatly .dijitSliderActive .dijitSliderIncrementIconV,
.flatly .dijitSliderHover .dijitSliderDecrementIconH,
.flatly .dijitSliderHover .dijitSliderIncrementIconH,
.flatly .dijitSliderHover .dijitSliderDecrementIconV,
.flatly .dijitSliderHover .dijitSliderIncrementIconV {
  /* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */
  border: solid 1px #a3b6bb;
  background-color: #ffffff;
}
.flatly .dijitSliderDecrementIconH {
  background-position: -357px 50%;
}
.flatly .dijitSliderActive .dijitSliderDecrementIconH .flatly .dijitSliderHover .dijitSliderDecrementIconH {
  background-position: -393px 50%;
}
.flatly .dijitSliderIncrementIconH {
  background-position: -251px 50%;
}
.flatly .dijitSliderActive .dijitSliderIncrementIconH .flatly .dijitSliderHover .dijitSliderIncrementIconH {
  background-position: -283px 50%;
}
.flatly .dijitSliderDecrementIconV {
  background-position: -38px 50%;
}
.flatly .dijitSliderActive .dijitSliderDecrementIconV .flatly .dijitSliderHover .dijitSliderDecrementIconV {
  background-position: -73px 50%;
}
.flatly .dijitSliderIncrementIconV {
  background-position: -143px 49%;
}
.flatly .dijitSliderActive .dijitSliderIncrementIconV .flatly .dijitSliderHover .dijitSliderIncrementIconV {
  background-position: -178px 49%;
}
.flatly .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.flatly .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.flatly .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.flatly .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
  background-color: #ecf0f1;
}
.flatly .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.flatly .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.flatly .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.flatly .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
  background-color: #cfd9db;
  border-color: #dce4ec;
}
.flatly .dijitSliderButtonInner {
  visibility: hidden;
}
.flatly .dijitSliderDisabled .dijitSliderBar {
  border-color: #b1c2c6;
}
.flatly .dijitSliderReadOnly *,
.flatly .dijitSliderDisabled * {
  border-color: #b1c2c6;
  color: #42555a;
}
.flatly .dijitSliderReadOnly .dijitSliderDecrementIconH,
.flatly .dijitSliderDisabled .dijitSliderDecrementIconH {
  background-position: -321px 50%;
  background-color: #ecf0f1;
}
.flatly .dijitSliderReadOnly .dijitSliderIncrementIconH,
.flatly .dijitSliderDisabled .dijitSliderIncrementIconH {
  background-position: -215px 50%;
  background-color: #ecf0f1;
}
.flatly .dijitSliderReadOnly .dijitSliderDecrementIconV,
.flatly .dijitSliderDisabled .dijitSliderDecrementIconV {
  background-position: -3px 49%;
  background-color: #ecf0f1;
}
.flatly .dijitSliderReadOnly .dijitSliderIncrementIconV,
.flatly .dijitSliderDisabled .dijitSliderIncrementIconV {
  background-position: -107px 49%;
  background-color: #ecf0f1;
}
