{% extends '@App/layouts/index.html.twig' %}

{% block menuLeft %}
    <a href="{{ path('app_cabinet_shares_show') }}">{{ 'pages.cabinet.shares.menu'|trans }}</a>
    <a href="{{ path('app_cabinet_statistics_show') }}">{{ 'pages.cabinet.statistics.menu'|trans }}</a>
{% endblock %}

{% block menuRight %}
    <a href="{{ path('app_default_logout') }}">{{ 'pages.cabinet.logout'|trans }}</a>
{% endblock %}

{% block content %}
    <script src="{{ asset('bundles/app/js/financy/cabinet/shares.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/cabinet.css') }}"/>
    <div>
        <div class="cabinet-title">{{ 'pages.cabinet.shares.title'|trans }}</div>
        <div id="shares" class="cabinet-shares">
            {% if shares %}
                {% for share in shares %}
                    <div class="cabinet-shares-share"><span class="cabinet-shares-share-id">{{ share.id }}</span><span class="cabinet-shares-share-share">{{ share.share }}</span><span class="cabinet-shares-share-count"><input class="inp" value="{{ share.count }}"/></span><span class="btn btn-update">{{ 'pages.cabinet.shares.share_update'|trans }}</span><span class="btn btn-delete">{{ 'pages.cabinet.shares.share_delete'|trans }}</span></div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="cabinet-title">{{ 'pages.cabinet.shares.title_add'|trans }}</div>
        <div class="cabinet-shares-add-container ">
            <select id="add-share" class="slc">
                <option value="YHOO" selected>Yahoo</option>
                <option value="GOOG">Google</option>
                <option value="YNDX">Yandex</option>
                <option value="FB">Facebook</option>
                <option value="AAPL">Apple</option>
                <option value="INTC">Intel</option>
                <option value="MSFT">Microsoft Corporation</option>
                <option value="ADBE">Adobe Systems Incorporated</option>
                <option value="AMD">Advanced Micro Devices</option>
            </select>
            <input id="add-count" class="inp" value="1" placeholder="{{ 'pages.cabinet.shares.share_count'|trans }}"/>
            <span id="add-button" class="btn">{{ 'pages.cabinet.shares.share_add'|trans }}</span>
        </div>
    </div>
{% endblock %}