{% extends '@App/layouts/index.html.twig' %}

{% block menuLeft %}
    <a href="{{ path('app_cabinet_shares_show') }}">{{ 'pages.cabinet.shares.menu'|trans }}</a>
    <a href="{{ path('app_cabinet_statistics_show') }}">{{ 'pages.cabinet.statistics.menu'|trans }}</a>
{% endblock %}

{% block menuRight %}
    <a href="{{ path('app_default_logout') }}">{{ 'pages.cabinet.logout'|trans }}</a>
{% endblock %}

{% block content %}
    <script src="{{ asset('bundles/app/js/financy/cabinet/statistics.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/cabinet.css') }}"/>
    <div style="width:100%;">
        <div class="cabinet-title">{{ 'pages.cabinet.statistics.title'|trans }}</div>
        <div class="cabinet-statistics-date">
            <span>{{ 'pages.cabinet.statistics.date_from'|trans }}</span>
            <input type="text" name="dateFrom" id="dateFrom" value="{{ dateFrom }}" data-dojo-type="dijit/form/DateTextBox"/>
            <span>{{ 'pages.cabinet.statistics.date_to'|trans }}</span>
            <input type="text" name="dateTo" id="dateTo" value="{{ dateTo }}" data-dojo-type="dijit/form/DateTextBox"/>
            <span id="show" class="btn">{{ 'pages.cabinet.statistics.show'|trans }}</span>
        </div>
        <div class="cabinet-statistics-charting-container">
            <div id="statistics-charting" class="cabinet-statistics-charting"></div>
        </div>
    </div>
{% endblock %}