{% extends 'AppBundle:layouts:index.html.twig' %}

{% block menuRight %}
    <a href="{{ path('app_register_show') }}">{{ 'pages.login.register'|trans }}</a>
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}"/>
    <script src="{{ asset('bundles/app/js/financy/login.js') }}"></script>

    <div class="login">
        <div class="login-title">{{ 'pages.login.title'|trans }}</div>
        <div class="login-form">
            <form id="form">
                <input id="username" name="username" class="" placeholder="{{ 'pages.login.username'|trans }}"/>
                <input id="password" name=" password" type="password" class="" placeholder="{{ 'pages.login.password'|trans }}"/>
            </form>
        </div>
        <div id="error" class="login-error" style="display: none;"></div>
        <div id="submit" class="login-submit btn">{{ 'pages.login.submit'|trans }}</div>
    </div>

{% endblock %}