{% extends 'AppBundle:layouts:index.html.twig' %}

{% block menuRight %}
    <a href="{{ path('app_default_index') }}">
        <div>{{ 'pages.register.back'|trans }}</div>
    </a>
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/register.css') }}"/>
    <div class="register">
        {% if errors %}
            <div class="register-error">
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="register-container">
            <div class="register-title">{{ 'pages.register.title'|trans }}</div>
            <form method="post" class="register-form" action="{{ path('app_register_process') }}">
                <input name="username" class="register-form-input" placeholder="{{ 'pages.register.username'|trans }}" value="{{ username|default('') }}"/>
                <input name=" password" type="password" class="register-form-input" placeholder="{{ 'pages.register.password'|trans }}" value="{{ password|default('') }}"/>
                <input type="submit" class="register-submit btn" value="{{ 'pages.register.submit'|trans }}">
            </form>
        </div>
    </div>

{% endblock %}