{% extends 'AppBundle:layouts:index.html.twig' %}

{% block content %}

    <div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div style="padding: 20px; font-size: 18px;">{{ 'pages.register_succes.title'|trans }}</div>
        <div>
            <a class="btn" href="{{ path('app_default_index') }}">{{ 'pages.register_succes.login'|trans }}</a>
        </div>
    </div>

{% endblock %}