/* Dijit widget common icons*/
/*commonIcons_rtl.css is located in dijit/icons

The 16 x 16px icons in these sprites are action and object type images which can be used in the following widgets: accordionContainer, menu, tab, titlepane, tree, and all button widgets and error validation contexts. */
.dijitRtl .dijitIconSave,
.dijitRtl .dijitIconPrint,
.dijitRtl .dijitIconCut,
.dijitRtl .dijitIconCopy,
.dijitRtl .dijitIconClear,
.dijitRtl .dijitIconDelete,
.dijitRtl .dijitIconUndo,
.dijitRtl .dijitIconEdit,
.dijitRtl .dijitIconNewTask,
.dijitRtl .dijitIconEditTask,
.dijitRtl .dijitIconEditProperty,
.dijitRtl .dijitIconTask,
.dijitRtl .dijitIconFilter,
.dijitRtl .dijitIconConfigure,
.dijitRtl .dijitIconSearch,
.dijitRtl .dijitIconApplication,
.dijitRtl .dijitIconBookmark,
.dijitRtl .dijitIconChart,
.dijitRtl .dijitIconConnector,
.dijitRtl .dijitIconDatabase,
.dijitRtl .dijitIconDocuments,
.dijitRtl .dijitIconMail,
.dijitRtl .dijitLeaf,
.dijitRtl .dijitIconFile,
.dijitRtl .dijitIconFunction,
.dijitRtl .dijitIconKey,
.dijitRtl .dijitIconPackage,
.dijitRtl .dijitIconSample,
.dijitRtl .dijitIconTable,
.dijitRtl .dijitIconUsers,
.dijitRtl .dijitFolderClosed,
.dijitRtl .dijitIconFolderClosed,
.dijitRtl .dijitFolderOpened,
.dijitRtl .dijitIconFolderOpen,
.dijitRtl .dijitIconError {
  background-image: url("/bundles/app/css/dijit/icons/images/commonIconsObjActEnabled_rtl.png");
  /* Contains both object and action icons in a sprite image for the enabled state.  */
  width: 16px;
  height: 16px;
}
.dj_ie6 .dijitRtl .dijitIconSave,
.dj_ie6 .dijitRtl .dijitIconPrint,
.dj_ie6 .dijitRtl .dijitIconCut,
.dj_ie6 .dijitRtl .dijitIconCopy,
.dj_ie6 .dijitRtl .dijitIconClear,
.dj_ie6 .dijitRtl .dijitIconDelete,
.dj_ie6 .dijitRtl .dijitIconUndo,
.dj_ie6 .dijitRtl .dijitIconEdit,
.dj_ie6 .dijitRtl .dijitIconNewTask,
.dj_ie6 .dijitRtl .dijitIconEditTask,
.dj_ie6 .dijitRtl .dijitIconEditProperty,
.dj_ie6 .dijitRtl .dijitIconTask,
.dj_ie6 .dijitRtl .dijitIconFilter,
.dj_ie6 .dijitRtl .dijitIconConfigure,
.dj_ie6 .dijitRtl .dijitIconSearch,
.dj_ie6 .dijitRtl .dijitIconApplication,
.dj_ie6 .dijitRtl .dijitIconBookmark,
.dj_ie6 .dijitRtl .dijitIconChart,
.dj_ie6 .dijitRtl .dijitIconConnector,
.dj_ie6 .dijitRtl .dijitIconDatabase,
.dj_ie6 .dijitRtl .dijitIconDocuments,
.dj_ie6 .dijitRtl .dijitIconMail,
.dj_ie6 .dijitRtl .dijitLeaf,
.dj_ie6 .dijitRtl .dijitIconFile,
.dj_ie6 .dijitRtl .dijitIconFunction,
.dj_ie6 .dijitRtl .dijitIconKey,
.dj_ie6 .dijitRtl .dijitIconPackage,
.dj_ie6 .dijitRtl .dijitIconSample,
.dj_ie6 .dijitRtl .dijitIconTable,
.dj_ie6 .dijitRtl .dijitIconUsers,
.dj_ie6 .dijitRtl .dijitFolderClosed,
.dj_ie6 .dijitRtl .dijitIconFolderClosed,
.dj_ie6 .dijitRtl .dijitFolderOpened,
.dj_ie6 .dijitRtl .dijitIconFolderOpen,
.dj_ie6 .dijitRtl .dijitIconError {
  background-image: url("/bundles/app/css/dijit/icons/images/commonIconsObjActEnabled8bit_rtl.png");
}
.dijitRtl .dijitDisabled .dijitIconSave,
.dijitRtl .dijitDisabled .dijitIconPrint,
.dijitRtl .dijitDisabled .dijitIconCut,
.dijitRtl .dijitDisabled .dijitIconCopy,
.dijitRtl .dijitDisabled .dijitIconClear,
.dijitRtl .dijitDisabled .dijitIconDelete,
.dijitRtl .dijitDisabled .dijitIconUndo,
.dijitRtl .dijitDisabled .dijitIconEdit,
.dijitRtl .dijitDisabled .dijitIconNewTask,
.dijitRtl .dijitDisabled .dijitIconEditTask,
.dijitRtl .dijitDisabled .dijitIconEditProperty,
.dijitRtl .dijitDisabled .dijitIconTask,
.dijitRtl .dijitDisabled .dijitIconFilter,
.dijitRtl .dijitDisabled .dijitIconConfigure,
.dijitRtl .dijitDisabled .dijitIconSearch,
.dijitRtl .dijitDisabled .dijitIconApplication,
.dijitRtl .dijitDisabled .dijitIconBookmark,
.dijitRtl .dijitDisabled .dijitIconChart,
.dijitRtl .dijitDisabled .dijitIconConnector,
.dijitRtl .dijitDisabled .dijitIconDatabase,
.dijitRtl .dijitDisabled .dijitIconDocuments,
.dijitRtl .dijitDisabled .dijitIconMail,
.dijitRtl .dijitDisabled .dijitLeaf,
.dijitRtl .dijitDisabled .dijitIconFile,
.dijitRtl .dijitDisabled .dijitIconFunction,
.dijitRtl .dijitDisabled .dijitIconKey,
.dijitRtl .dijitDisabled .dijitIconPackage,
.dijitRtl .dijitDisabled .dijitIconSample,
.dijitRtl .dijitDisabled .dijitIconTable,
.dijitRtl .dijitDisabled .dijitIconUsers,
.dijitRtl .dijitDisabled .dijitFolderClosed,
.dijitRtl .dijitDisabled .dijitIconFolderClosed,
.dijitRtl .dijitDisabled .dijitFolderOpened,
.dijitRtl .dijitDisabled .dijitIconFolderOpen,
.dijitRtl .dijitDisabled .dijitIconError {
  background-image: url("/bundles/app/css/dijit/icons/images/commonIconsObjActDisabled_rtl.png");
  /* Contains both object and action icons as a sprite image for the disabled state. These would be used by buttons and menus.   */
}
