/* Dijit Editor RTL icons*/
/*editorIcons_rtl.css is located in dijit/images 

editorIcons_rtl.css contains references to the dijit editor widget icons. There are 46 icons used to map to the related editor functionality in the editor's toolbar.

*/
/* Editor */
.dijitEditorRtl .dijitEditorIcon {
  background-image: url("/bundles/app/css/dijit/icons/images/editorIconsEnabled_rtl.png");
  /* editor icons sprite image for the enabled right to left state */
}
.dijitEditorRtlDisabled .dijitEditorIcon {
  background-image: url("/bundles/app/css/dijit/icons/images/editorIconsDisabled_rtl.png");
  /* editor icons sprite image for the disabled right to left state */
}
/* Toolbar */
.dijitToolbarRtl .dijitToolbarSeparator {
  background-image: url("/bundles/app/css/dijit/icons/images/editorIconsEnabled_rtl.png");
}
/* took this information above from editorRtl.css - good or bad? */
