/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
.dijitCalendar {
  border: solid 1px #66bb6a;
  border-collapse: separate;
  background-color: #ecf0f1;
  text-align: center;
  padding: 6px;
}
.dj_ie6 .dijitCalendar {
  background-image: none;
}
.dijitCalendar img {
  border: none;
}
.dijitCalendarHover,
.dijitCalendar:hover,
.dijitCalendarActive {
  background-color: #ecf0f1;
  border: solid 1px #54b359;
}
.dijitCalendarMonthContainer th {
  text-align: center;
  vertical-align: middle;
}
.dijitCalendarMonthLabel {
  color: #2c3e50;
  font-weight: bold;
}
/* next/previous month arrows */
.dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  margin: 6px;
  background-image: url("/bundles/app/css/dijit/images/calendarArrows.png");
  background-repeat: no-repeat;
}
.dj_ie6 .dijitCalendarIncrementControl {
  background-image: url("/bundles/app/css/dijit/images/calendarArrows8bit.png");
}
.dijitCalendarIncrease {
  background-position: -18px 0;
}
.dijitCalendarArrowHover {
  background: #eeeeee;
}
.dijitCalendarArrowHover .dijitCalendarDecrease,
.dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}
.dijitCalendarArrowHover .dijitCalendarIncrease,
.dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}
.dijitCalendarArrowActive .dijitCalendarDecrease,
.dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}
.dijitCalendarArrowActive .dijitCalendarIncrease,
.dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}
.dijitA11ySideArrow {
  /* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  padding: 0 3px 2px;
}
.dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: #2c3e50;
}
.dijitCalendarDateTemplate {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #addaaf;
  padding-top: 0;
  letter-spacing: .05em;
  color: #2c3e50;
  outline: none;
}
.dj_ie6 .dijitCalendarDateTemplate {
  background-image: none;
}
.dijitCalendarPreviousMonth,
.dijitCalendarNextMonth {
  background-color: #fbfcfc;
  background-image: none;
  border-bottom: solid 1px #addaaf;
  /* todo: redundant with above .dijitCalendarDateTemplate rule */
}
.dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 6px;
  border: solid 1px #ffffff;
  /* intentionally matches background-color, no visible border until hover/selection */
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #dce4ec;
  border-color: #fbfcfc;
  /* intentionally matches background-color, no visible border until hover/selection */
}
.dijitCalendarYearContainer {
  vertical-align: middle;
}
.dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.dijitCalendarYearLabel {
  padding: 6px;
  margin: 0;
}
.dijitCalendarYearLabel span {
  /* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}
.dijitCalendarSelectedYear {
  padding: 0 3px;
}
.dijitCalendarNextYear,
.dijitCalendarPreviousYear {
  padding: 6px;
}
.dijitCalendarSelectedYear {
  color: #2c3e50;
  font-weight: bold;
}
/* End Normal Calendar Style */
/* Hovered Calendar Style */
.dijitCalendarHoveredDate .dijitCalendarDateLabel,
.dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background: #eeeeee;
  color: #2c3e50;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitCalendarNextYearHover,
.dijitCalendarNextYear:hover,
.dijitCalendarPreviousYearHover,
.dijitCalendarPreviousYear:hover {
  color: #2c3e50;
  border: 1px solid #cfd8dc;
  padding: 6px;
  /* reduced by 1 to make room for border */
  background: #eeeeee;
}
/* End Hovered Calendar Style */
/* Active Calendar Style */
.dijitCalendarNextYearActive,
.dijitCalendarNextYear:active .dijitCalendarPreviousYearActive,
.dijitCalendarPreviousYear:active {
  border: solid 1px 1px solid #cfd8dc;
  padding: 0 5px 0 5px;
  /* reduced by 1 to make room for border */
  background-color: #eeeeee;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel,
.dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #eeeeee;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dj_ie6 .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
/* End Active Calendar Style */
/* Selected Calendar Style */
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #2c3e50;
  background: #eeeeee;
}
/* End Selected Calendar Style */
/* Disabled Calendar Style*/
.dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #42555a;
  text-decoration: line-through;
}
/* End Disabled Calendar Style */
/* Styling for month DropDownButton */
.dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.dijitCalendar .dijitButtonText {
  margin-right: 10px;
}
.dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: 6px;
  border: 1px solid #cfd8dc;
  background: #fafafa;
}
.dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background: #eeeeee;
  border: 1px solid #cfd8dc;
}
/* Styling for month drop down list */
.dijitCalendarMonthMenu {
  border: 1px solid #66bb6a;
  background: #ffffff;
  text-align: center;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  font-weight: normal;
  padding: 6px;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  background: #cfd9db;
}
