/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
@import "variables";

.dijitCalendar {
  border: solid 1px @dijit-border-color;
  border-collapse: separate; // in case user CSS has set border-collapse: collapse for tables
  background-color: @dijit-calendar-background-color;
  text-align: center;
  padding: @dijit-input-padding;
}

.dj_ie6 .dijitCalendar {
  background-image: none; // because on IE6 background-image overrides background-color
}

.dijitCalendar img {
  border: none;
}

.dijitCalendarHover, .dijitCalendar:hover,
.dijitCalendarActive {
  background-color: @dijit-calendar-hovered-background-color;
  border: solid 1px @dijit-border-hovered-color;
}

.dijitCalendarMonthContainer th {
  text-align: center;
  vertical-align: middle;
}

.dijitCalendarMonthLabel {
  color: @dijit-font-color;
  font-weight: bold;
  //font-size: 1.091em;
  //padding: @input-padding;
}

/* next/previous month arrows */
.dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  margin: @dijit-input-padding;
  background-image: url("/bundles/app/css/dijit/images/calendarArrows.png");
  background-repeat: no-repeat;
}

.dj_ie6 .dijitCalendarIncrementControl {
  background-image: url("/bundles/app/css/dijit/images/calendarArrows8bit.png");
}

.dijitCalendarIncrease {
  background-position: -18px 0;
}

.dijitCalendarArrowHover {
  background: @dijit-button-hovered-background;
}

.dijitCalendarArrowHover .dijitCalendarDecrease,
.dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}

.dijitCalendarArrowHover .dijitCalendarIncrease,
.dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}

.dijitCalendarArrowActive .dijitCalendarDecrease,
.dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}

.dijitCalendarArrowActive .dijitCalendarIncrease,
.dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}

.dijitA11ySideArrow {
  /* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}

.dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  //border-bottom: 1px solid @border-color;
  padding: 0 3px 2px;
}

.dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: @dijit-font-color;
}

.dijitCalendarDateTemplate {
  text-align: center;
  background-color: @dijit-calendar-currentmonth-background-color;
  border-bottom: 1px solid @dijit-minor-border-color;
  padding-top: 0;
  //font-size: 0.909em;
  //font-family: Arial;
  //font-weight: bold;
  letter-spacing: .05em;
  color: @dijit-font-color;
  outline: none;
}

.dj_ie6 .dijitCalendarDateTemplate {
  background-image: none;
}

.dijitCalendarPreviousMonth,
.dijitCalendarNextMonth {
  background-color: @dijit-calendar-adjacentmonth-background-color;
  background-image: none;
  border-bottom: solid 1px @dijit-minor-border-color; /* todo: redundant with above .dijitCalendarDateTemplate rule */
}

.dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: @dijit-input-padding;
  border: solid 1px @dijit-calendar-currentmonth-background-color; /* intentionally matches background-color, no visible border until hover/selection */
  .transition-duration(@transition-duration);
}

.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: @dijit-calendar-adjacentmonth-text-color;
  border-color: @dijit-calendar-adjacentmonth-background-color; /* intentionally matches background-color, no visible border until hover/selection */
}

.dijitCalendarYearContainer {
  vertical-align: middle;
  //padding: @input-padding;
}

.dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}

.dijitCalendarYearLabel {
  padding: @dijit-input-padding;
  margin: 0;
  //font-size: 1.17em;
}

.dijitCalendarYearLabel span {
  /* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}

.dijitCalendarSelectedYear {
  padding: 0 3px;
}

.dijitCalendarNextYear,
.dijitCalendarPreviousYear {
  padding: @dijit-input-padding;
  //font-size: 0.909em;
}

.dijitCalendarSelectedYear {
  //font-size: 1.091em;
  color: @dijit-selected-text-color;
  font-weight: bold;
}

/* End Normal Calendar Style */
/* Hovered Calendar Style */
.dijitCalendarHoveredDate .dijitCalendarDateLabel,
.dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background: @dijit-calendar-date-hovered-background;
  color: @dijit-hovered-text-color;
  .transition-duration(@transition-duration);
}

.dijitCalendarNextYearHover, .dijitCalendarNextYear:hover,
.dijitCalendarPreviousYearHover, .dijitCalendarPreviousYear:hover {
  color: @dijit-hovered-text-color;
  border: @dijit-calendar-button-hovered-border;
  padding: @dijit-input-padding; /* reduced by 1 to make room for border */
  background: @dijit-calendar-button-hovered-background;
}

/* End Hovered Calendar Style */
/* Active Calendar Style */
.dijitCalendarNextYearActive, .dijitCalendarNextYear:active
.dijitCalendarPreviousYearActive, .dijitCalendarPreviousYear:active {
  border: solid 1px @dijit-calendar-button-pressed-border;
  padding: 0 5px 0 5px; /* reduced by 1 to make room for border */
  background-color: @dijit-calendar-button-pressed-background;
}

.dijitCalendarActiveDate .dijitCalendarDateLabel,
.dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: @dijit-calendar-date-pressed-background;
  .transition-duration(@transition-duration);
}

.dj_ie6 .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}

/* End Active Calendar Style */
/* Selected Calendar Style */
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: @dijit-selected-text-color;
  background: @dijit-calendar-date-selected-background;
}

/* End Selected Calendar Style */
/* Disabled Calendar Style*/
.dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: @dijit-disabled-text-color;
  text-decoration: line-through;
}

/* End Disabled Calendar Style */

/* Styling for month DropDownButton */

.dijitCalendar .dijitDropDownButton {
  margin: 0;
}

.dijitCalendar .dijitButtonText {
  margin-right: 10px;
}

.dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: @dijit-input-padding;
  border: @dijit-calendar-button-border;
  background: @dijit-calendar-button-background;
}

.dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background: @dijit-calendar-button-hovered-background;
  border: @dijit-calendar-button-hovered-border;
}

/* Styling for month drop down list */

.dijitCalendarMonthMenu {
  border: @dijit-popup-border;
  background: @dijit-menu-background;
  text-align: center;
}

.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  //border-top: solid 1px @menu-background; /* intentionally invisible until hover */
  //border-bottom: solid 1px @menu-background;
  font-weight: normal;
  padding: @dijit-input-padding;
}

.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  //border-width: 1px 0;
  background: @dijit-minor-selected-color;
  //.gradient-and-filter(@hovered-background-color, 70, 0);
}
