/* ColorPalette
 * 
 * Styling of the ColorPalette consists of the following:
 * 
 * 1. the whole color palette
 *		.dijitColorPalette - for outline, border, and background color of the whole color palette
 *		Note: outline does not work for IE
 *
 * 2. the color swatch 
 *		.dijitColorPalette .dijitPaletteImg
 *		transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
 *		displays border around a color swatch
 *
 * 3. hovered swatch
 * 		.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg
 *		the hovered state of the color swatch - adds border
 * 	
 * 4. active and selected swatch
 * 		.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg
 *		.dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg
 *		adds border for active or selected state
 */
@import "variables";

.dijitColorPalette {
  border: 1px solid @dijit-border-color;
  background: @dijit-colorpalette-background-color;
  .border-radius(0);
}

.dijitColorPalette .dijitPaletteImg {
  /* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
   * displays border around a color swatch
   * overrides border color in dijit.css */
  border: 1px solid @dijit-minor-border-color;
}

.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg {
  border: 1px solid @dijit-swatch-hovered-border-color;
}

.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg,
.dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
  border: 2px solid @dijit-swatch-selected-border-color;
}
