/* ========= Styling rules to affect widgets ========= */
.dijitPopup {
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.dijitComboBoxHighlightMatch {
  background-color: #cfd9db;
}
/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
.dijitFocusedLabel {
  outline: none;
}
/* Drag and Drop*/
.dojoDndItem {
  border-color: rgba(0, 0, 0, 0);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -o-transition-property: background-color, border-color;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.dojoDndItemOver {
  background-color: #cfd9db;
  padding: 1px;
  border: solid 1px #54b359;
  color: #2c3e50;
}
.dojoDndItemAnchor,
.dojoDndItemSelected {
  background-color: #ecf0f1;
  padding: 1px;
  border: solid 1px #dce4ec;
  color: #2c3e50;
}
.dojoDndItemBefore,
.dojoDndItemAfter {
  border-color: #dce4ec;
}
table.dojoDndAvatar {
  border: 1px solid #66bb6a;
  border-collapse: collapse;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}
.dojoDndMove .dojoDndAvatarHeader,
.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("/bundles/app/css/dijit/images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}
.dojoDndAvatarItem td {
  padding: 5px;
}
.dojoDndMove .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -103px;
}
.dojoDndCopy .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -68px;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px -33px;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px 2px;
}
