/* ========= Styling rules to affect widgets ========= */
@import "variables";

.dijitPopup {
  //background: @popup-background;
  //.border-radius(@popup-border-radius);
  .box-shadow(@dijit-popup-box-shadow);
}

.dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */
  .box-shadow(none);
}

/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.dijitComboBoxHighlightMatch {
  background-color: @dijit-select-matchedtext-background-color;
}

/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
.dijitFocusedLabel {
  outline: @dijit-label-focused-outline;
}

/* Drag and Drop*/
.dojoDndItem {
  border-color: rgba(0, 0, 0, 0); // rgba() instead of none to prevent flash on hover fade-in
  .transition-duration(.25s);
  .transition-property(background-color, border-color)
}

.dojoDndItemOver {
  // Hovered item.  Matches dijitTreeRowHover.
  background-color: @dijit-hovered-background-color;
  //.standard-gradient;
  padding: 1px; // reduce from 2px in dijit.css
  border: solid 1px @dijit-border-hovered-color;
  color: @dijit-hovered-text-color;
}

.dojoDndItemAnchor,
.dojoDndItemSelected {
  // Selected items(s).   Matches dijitTreeRowSelected.
  background-color: @dijit-selected-background-color;
  //.standard-gradient;
  padding: 1px; // reduce from 2px in dijit.css
  border: solid 1px @dijit-selected-border-color;
  color: @dijit-selected-text-color;
}

.dojoDndItemBefore,
.dojoDndItemAfter {
  // line to indicate that user is dropping before/after this dojoDndItem
  border-color: @dijit-dnd-dropseparator-color;
}

table.dojoDndAvatar {
  border: 1px solid @dijit-border-color;
  border-collapse: collapse;
  background-color: @dijit-dnd-avatar-background-color;
  .box-shadow(0 1px 3px rgba(0, 0, 0, .25));
}

.dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}

.dojoDndMove .dojoDndAvatarHeader, .dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("/bundles/app/css/dijit/images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}

.dojoDndAvatarItem td {
  padding: 5px;
}

.dojoDndMove .dojoDndAvatarHeader {
  background-color: @dijit-dnd-avatar-header-background-color;
  background-position: 2px -103px;
}

.dojoDndCopy .dojoDndAvatarHeader {
  background-color: @dijit-dnd-avatar-header-background-color;
  background-position: 2px -68px;
}

.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: @dijit-dnd-avatar-candrop-header-background-color;
  background-position: 2px -33px;
}

.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: @dijit-dnd-avatar-candrop-header-background-color;
  background-position: 2px 2px;
}
