/* Dialog */
@import "variables";

.dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}

.dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 3px 7px 2px 5px;
}
