/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
@import "variables";

.dijitEditorIFrameContainer {
  padding: 3px 3px 1px 10px;
}

.dijitEditorIFrame {
  background-color: @dijit-input-background-color;
}

.dijitEditor {
  border: 1px solid @dijit-border-color;
}

.dijitEditor .dijitEditorIFrameContainer {
  background-color: @dijit-input-background-color;
  background-repeat: repeat-x;
}

.dijitEditorHover .dijitEditorIFrameContainer,
.dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: @dijit-input-hovered-background-color;
}

.dijitEditorFocused .dijitEditorIFrameContainer,
.dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: @dijit-input-focused-background-color;
}

.dijitEditorHover .dijitEditorIFrameContainer,
.dijitEditorFocused .dijitEditorIFrameContainer {

}

/* Disabled */
.dijitEditorDisabled {
  border: 1px solid @dijit-disabled-border-color;
  color: @dijit-disabled-text-color;
}

.dijitDisabled .dijitEditorIFrame,
.dijitDisabled .dijitEditorIFrameContainer,
.dijitDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: @dijit-input-disabled-background-color;
  background-image: none;
}
