/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
@import "variables";

.dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}

.dijitInlineEditBoxDisplayModeHover {
  background-color: @dijit-input-hovered-background-color;
  border: solid 1px @dijit-border-hovered-color;
}

.dj_ie6 .dijitInlineEditBoxDisplayMode {
  border: none;
}
