/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.dijitInlineEditBoxDisplayModeHover {
  background-color: #fbfcfc;
  border: solid 1px #54b359;
}
.dj_ie6 .dijitInlineEditBoxDisplayMode {
  border: none;
}
