/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	

 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for background-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
@import "variables";

.dijitMenuBar {
  border: 1px solid @dijit-border-color;
  margin: 0;
  padding: 0;
  background-color: @dijit-bar-background-color;
}

.dijitMenu {
  background-color: @dijit-menu-background;
  border: @dijit-popup-border;
  //.border-radius(@popup-border-radius);
  //border: @popup-border;
}

.dijitMenuItem {
  color: @dijit-font-color;
}

.dijitMenuBar .dijitMenuItem {
  padding: @dijit-input-padding;
}

.dijitMenuBar .dijitMenuItemHover,
.dijitMenuBar .dijitMenuItemSelected {
  // on hover or selection of MenuBar item, add border and reduce padding to compensate
  //border: solid 1px @border-color;
  padding: @dijit-input-padding;
}

/* this prevents jiggling upon hover of a menu item */
.dijitMenuTable {
  border-collapse: separate;
  border-spacing: 0 0;
  padding: @dijit-menu-separator-margin 0 @dijit-menu-separator-margin 0;
}

.dijitMenu .dijitMenuItem td,
.dijitComboBoxMenu .dijitMenuItem {
  padding: @dijit-input-padding; // Make drop down menu text line up with text in <input>.
  border: @dijit-menu-item-border;
  color: @dijit-menu-item-color;
  //border-width: 1px 0 1px 0;
  //border-style: solid;
  //border-color: @select-dropdownitem-background-color;
}

/* hover over a MenuItem or MenuBarItem */
.dijitMenu .dijitMenuItemHover td,
.dijitMenu .dijitMenuItemSelected td,
.dijitMenuItemHover,
.dijitComboBoxMenu .dijitMenuItemHover,
.dijitMenuItemSelected {
  // note: seems like the selected MenuItem should use @pressed-background-color
  // and .active-gradient, but claro didn't to that
  //border-color: @hovered-border-color;
  border: @dijit-menu-item-hovered-border;
  background: @dijit-menu-item-hovered-background;
  color: @dijit-menu-item-hovered-color;
}

.dijitMenuItemActive {
  // todo: seems like the selected MenuItem should come here
  // todo: seems like should use @pressed-background-color
  // .active-gradient;
}

.dj_ie .dijitMenuActive .dijitMenuItemHover,
.dj_ie .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .dijitMenuPassive .dijitMenuItemSelected {
  // Selectivity set to override ComboBox rules below.
  // If this rule isn't present, on IE6 hovering an item in the ComboBox drop down causes two
  // items to be highlighted (except when hovering the first item in the list)
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: -3px;
}

td.dijitMenuItemIconCell {
  padding: 2px;
  margin: 0 0 0 4px;
}

td.dijitMenuItemLabel {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dijitMenuExpand {
  width: 7px;
  height: 7px;
  background-image: url("/bundles/app/css/dijit/images/spriteArrows.png");
  background-position: -14px 0;
  margin-right: 3px;
  margin-bottom: 4px;
}

.dijitMenuSeparatorTop {
  height: auto;
  margin-top: @dijit-menu-separator-margin; /* prevents spacing above/below separator */
  border-bottom: @dijit-menu-separator-border;
}

.dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: @dijit-menu-separator-margin;
}

/* the checked menu item */
.dijitCheckedMenuItem .dijitMenuItemIcon,
.dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxRadioButtonStates.png");
  background-repeat: no-repeat;
  background-position: -15px 50%; /* unchecked checkbox */
  width: 15px;
  height: 16px;
}

.dj_ie6 .dijitCheckedMenuItem .dijitMenuItemIcon,
.dj_ie6 .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxAndRadioButtons_IE6.png");
}

.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
  background-position: 0 50%; /* checked checkbox */
}

.dijitRadioMenuItem .dijitMenuItemIcon {
  background-position: -105px 50%; /* unfilled circle */
}

.dijitRadioMenuItemChecked .dijitMenuItemIcon {
  background-position: -90px 50%; /* filled circle */
}

/*ComboBox Menu*/
.dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}

.dijitMenu .dijitMenuItemSelected td,
.dijitComboBoxMenu .dijitMenuItemSelected {
  // TODO: combine with above rules for selected items?
  // But the selected item in a Select drop down is different than when MenuBarItem "File" is highlighted
  // because the user is on the file menu?
  border-color: @dijit-border-hovered-color;
  background: @dijit-menu-item-hovered-background;
  color: @dijit-menu-item-hovered-color;
}

.dijitComboBoxMenuActive .dijitMenuItemSelected {
  background-color: @dijit-select-dropdownitem-hovered-background-color; /* TODO: why is this a different color than normal .dijitMenuItemSelected? */
}

.dijitMenuPreviousButton, .dijitMenuNextButton {
  font-style: italic;
}
