/* Time Picker 
 *
 * Styling the Time Picker consists of the following: 
 *
 * 1. minor time values
 * 		.dijitTimePickerTick - set text color, size, background color of minor values
 * 		.dijitTimePickerTickHover - set hover style of minor time values
 * 		dijitTimePickerTickSelected - set selected style of minor time values
 *
 * 2. major time values - 1:00, 2:00, times on the hour 
 * 		set text color, size, background color, left/right margins for "zoom" affect
 * 		.dijitTimePickerMarkerHover - to set hover style of major time values
 * 		.dijitTimePickerMarkerSelected - set selected style of major time values
 * 
 * 3. up and down arrow buttons
 * 		.dijitTimePicker .dijitButtonNode - background-color, border
 * 		.dijitTimePicker .dijitUpArrowHover, .dijitTimePicker .dijitDownArrowHover - set background-color for hover state
 *
 *	Other classes provide the fundamental structure of the TimePicker and should not be modified. 
 */
/* override Button.css */
.dijitTimePicker .dijitButtonNode {
  padding: 0 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dijitTimePicker {
  border: 1px #66bb6a solid;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  /* TODO: useless?   Appears to be overridden by settings on individual elements */
}
.dijitTimePickerItem {
  /* dijitTimePickerItem refers to both Tick's (minor values like 2:15, 2:30, 2:45) and Marker's (major values like 2PM, 3PM) */
  border-top: solid 1px #66bb6a;
  border-bottom: solid 1px #66bb6a;
  margin-top: -1px;
}
.dijitTimePickerTick {
  /* minor value */
  color: #77939a;
  background-color: #ecf0f1;
}
.dijitTimePickerMarker {
  /* major value - 1:00, 2:00, times on the hour */
  background-color: #fbfcfc;
  white-space: nowrap;
}
.dijitTimePickerTickHover,
.dijitTimePickerMarkerHover,
.dijitTimePickerMarkerSelected,
.dijitTimePickerTickSelected {
  background-color: #b1c2c6;
  color: #2c3e50;
}
.dijitTimePickerTick .dijitTimePickerItemInner {
  padding: 1px;
  margin: 0;
}
.dijitTimePicker .dijitButtonNode {
  border-left: none;
  border-right: none;
  border-color: #66bb6a;
  background-color: #b1c2c6;
}
.dijitTimePicker .dijitArrowButtonInner {
  height: 100%;
  /* hack claro.button.css */
  background-image: url("/bundles/app/css/dijit/form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-position: -140px 45%;
}
.dijitTimePicker .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -35px 45%;
}
/* hover */
.dijitTimePicker .dijitUpArrowHover,
.dijitTimePicker .dijitDownArrowHover {
  background-color: #cfd9db;
}
.dijitTimePicker .dijitUpArrowHover .dijitArrowButtonInner {
  background-position: -175px 45%;
}
.dijitTimePicker .dijitDownArrowHover .dijitArrowButtonInner {
  background-position: -70px 45%;
}
