/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
@import "variables";

.dijitTitlePaneTitle {
  background-color: @dijit-unselected-background-color;
  //.standard-gradient;
  border: 1px solid @dijit-border-color;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  color: @dijit-unselected-text-color;
}

.dijitFieldset {
  .border-radius(4px);
}

.dijitTitlePaneTitleOpen, .dijitTitlePaneTitleFixedOpen {
  background-color: @dijit-selected-background-color;
  color: @dijit-font-color;
}

.dijitTitlePaneTitleHover {
  background-color: @dijit-hovered-background-color;
  border-color: @dijit-border-hovered-color;
}

.dijitTitlePaneTitleActive {
  background-color: @dijit-pressed-background-color;
  border-color: @dijit-pressed-border-color;
  //.active-gradient;
}

.dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}

.dijitTitlePane .dijitArrowNode, .dijitFieldset .dijitArrowNode {
  background-image: url("/bundles/app/css/dijit/images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}

.dijitTitlePaneTitleOpen .dijitArrowNode, .dijitFieldsetTitleOpen .dijitArrowNode, {
  background-position: 0 0;
}

.dijitTitlePaneTitleClosed .dijitArrowNode, .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}

.dijitTitlePaneContentOuter {
  background: @dijit-pane-background-color;
  border: 1px solid @dijit-border-color;
  border-top: none;
}

.dijitTitlePaneContentInner {
  padding: 10px;
}

.dijitFieldsetContentInner {
  padding: 4px;
}

.dijitTitlePaneTextNode, .dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
