/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.dijitTitlePaneTitle {
  background-color: #b1c2c6;
  border: 1px solid #66bb6a;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  color: #121819;
}
.dijitFieldset {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dijitTitlePaneTitleOpen,
.dijitTitlePaneTitleFixedOpen {
  background-color: #ecf0f1;
  color: #2c3e50;
}
.dijitTitlePaneTitleHover {
  background-color: #cfd9db;
  border-color: #54b359;
}
.dijitTitlePaneTitleActive {
  background-color: #b1c2c6;
  border-color: #dce4ec;
}
.dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}
.dijitTitlePane .dijitArrowNode,
.dijitFieldset .dijitArrowNode {
  background-image: url("/bundles/app/css/dijit/images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.dijitTitlePaneTitleOpen .dijitArrowNode,
.dijitFieldsetTitleOpen .dijitArrowNode {
  background-position: 0 0;
}
.dijitTitlePaneTitleClosed .dijitArrowNode,
.dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}
.dijitTitlePaneContentOuter {
  background: #ffffff;
  border: 1px solid #66bb6a;
  border-top: none;
}
.dijitTitlePaneContentInner {
  padding: 10px;
}
.dijitFieldsetContentInner {
  padding: 4px;
}
.dijitTitlePaneTextNode,
.dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
