/* Toolbar 
 * 
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 * 
 * 1. toolbar (default styling): 
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 * 		
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 * 
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */
.dijitToolbar {
  border-bottom: 1px solid #66bb6a;
  background-color: #ecf0f1;
  padding: 6px;
  zoom: 1;
}
.dijitToolbar label {
  padding: 0 3px 0 6px;
}
/** override claro/form/Button.css, and also ComboBox down arrow **/
.dijitToolbar .dijitButton .dijitButtonNode,
.dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dijitToolbar .dijitComboButton .dijitButtonNode,
.dijitToolbar .dijitToggleButton .dijitButtonNode,
.dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 6px;
  border: 1px solid transparent !important;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dj_ie .dijitToolbar .dijitButton .dijitButtonNode,
.dj_ie .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dj_ie .dijitToolbar .dijitComboButton .dijitButtonNode,
.dj_ie .dijitToolbar .dijitToggleButton .dijitButtonNode,
.dj_ie .dijitToolbar .dijitComboBox .dijitButtonNode {
  background-color: transparent;
  /* for IE, which doesn't understand rgba(...) */
}
/* hover status */
.dj_ie .dijitToolbar .dijitButtonHover .dijitButtonNode,
.dj_ie .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dj_ie .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.dj_ie .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.dj_ie .dijitToolbar .dijitToggleButtonHover .dijitButtonNode {
  /* button should still turn blue on hover, so need to override .dj_ie rules above */
  background: #eeeeee;
}
/* active status */
.dj_ie .dijitToolbar .dijitButtonActive .dijitButtonNode,
.dj_ie .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dj_ie .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.dj_ie .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  /* button should still turn blue on press, so need to override .dj_ie rules above */
  background: #eeeeee;
}
.dijitToolbar .dijitComboButton .dijitStretch {
  /* no rounded border on side adjacent to arrow */
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitToolbar .dijitComboButton .dijitArrowButton {
  /* no rounded border on side adjacent to button */
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 0;
}
/* hover status */
.dijitToolbar .dijitButtonHover .dijitButtonNode,
.dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.dijitToolbar .dijitComboButtonHover .dijitButtonNode {
  border-width: 1px;
  background-color: #cfd9db;
}
.dijitToolbar .dijitComboButtonHover .dijitButtonNode,
.dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
  background-color: #ffffff;
}
.dijitToolbar .dijitComboButtonHover .dijitButtonNodeHover,
.dijitToolbar .dijitComboButtonHover .dijitDownArrowButtonHover {
  background-color: #cfd9db;
}
/* active status */
.dijitToolbar .dijitButtonActive .dijitButtonNode,
.dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  background-color: #b1c2c6;
}
.dijitToolbar .dijitComboButtonActive {
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  border-width: 1px;
  padding: 0;
}
.dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
  background-color: #ffffff;
  padding: 2px;
}
.dijitToolbar .dijitComboButtonActive .dijitButtonNodeActive {
  background-color: #b1c2c6;
}
.dijitToolbar .dijitComboButtonActive .dijitDownArrowButtonActive {
  background-color: #b1c2c6;
}
/* Avoid double border between button and arrow */
.dijitToolbar .dijitComboButtonHover .dijitDownArrowButton,
.dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
  border-left-width: 0;
}
.dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
  padding-left: 2px;
  /* since there's no left border, don't reduce from 2px --> 1px */
}
/* toggle button checked status */
.dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  margin: 0;
  /* remove margin and add a border */
  background-color: #eeeeee;
}
.dijitToolbarSeparator {
  /* separator icon in the editor sprite */
  background: url("/bundles/app/css/dijit/icons/images/editorIconsEnabled.png");
}
/* Toolbar inside of disabled Editor */
.dijitDisabled .dijitToolbar {
  background: none;
  background-color: #ecf0f1;
  border-bottom: 1px solid #b1c2c6;
}
.dijitToolbar .dijitComboBoxDisabled .dijitArrowButtonInner {
  background-position: 0 50%;
}
