/* Toolbar RTL */
/* Repeated rules from Toolbar.css to override rule from Button_rtl.css, which is loaded after Toolbar.css */
.dijitToolbar .dijitComboButtonRtl .dijitButtonNode {
  border-width: 0;
  padding: 2px;
}
.dijitToolbar .dijitComboButtonRtlHover .dijitButtonNode,
.dijitToolbar .dijitComboButtonRtlActive .dijitButtonNode {
  border-width: 1px;
  padding: 1px;
}
.dijitToolbar .dijitComboButtonRtl .dijitStretch {
  /* no rounded border on side adjacent to arrow */
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.dijitToolbar .dijitComboButtonRtl .dijitArrowButton {
  /* no rounded border on side adjacent to button */
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitToolbar .dijitComboButtonRtlHover .dijitArrowButton,
.dijitToolbar .dijitComboButtonRtlActive .dijitArrowButton {
  /* border between button and arrow */
  border-left-width: 1px;
  border-right-width: 0;
  padding-left: 1px;
  padding-right: 2px;
}
