/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.dijitAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */
@import "../variables";

.flatly .dijitAccordionContainer {
  border: none;
}

.flatly .dijitAccordionTitleFocus {
  outline: none;
}

.flatly .dijitAccordionInnerContainer {
  background-color: @primary-color; /* gray, for closed pane */
  border: solid 1px @border-color;
  margin-bottom: 1px;
  .transition-duration(@transition-duration);
}

.flatly .dijitAccordionTitle {
  background-color: transparent; /* pick up color from dijitAccordionInnerContainer */
  padding: @input-padding;
  min-height: 17px;
}

.flatly .dijitAccordionTitle .dijitButtonNode {
  padding: 3px;
}

.flatly .dijitAccordionContainer .dijitAccordionChildWrapper {
  /* this extends the blue trim styling of the title bar to wrapping around the node.
   * done by setting margin
   */
  background-color: @pane-background-color;
  border: 1px solid @selected-border-color;
  margin: 0 2px 2px;
}

.flatly .dijitAccordionContainer .dijitAccordionContainer-child {
  /* this is affecting the child widget itself */
  padding: 9px;
}

/* Hover state for closed pane */

.flatly .dijitAccordionInnerContainerHover {
  border: 1px solid @border-hovered-color;
  background-color: @hovered-background-color;
  .transition-duration(.2s);
}

.flatly .dijitAccordionInnerContainerHover .dijitAccordionTitle {
  color: @hovered-text-color;
}

/* Active state for closed pane */

.flatly .dijitAccordionInnerContainerActive {
  border: 1px solid @border-color;
  background-color: @button-pressed-background;
  .transition-duration(@transition-duration);
}

.flatly .dijitAccordionInnerContainerActive .dijitAccordionTitle {
  color: @selected-text-color;
}

/* Open (a.k.a. selected) pane */

.flatly .dijitAccordionInnerContainerSelected {
  border-color: @border-color;
  background-color: @primary-color;
}

.flatly .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
  color: @selected-text-color;
}

