/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.dijitAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */
.flatly .dijitAccordionContainer {
  border: none;
}
.flatly .dijitAccordionTitleFocus {
  outline: none;
}
.flatly .dijitAccordionInnerContainer {
  background-color: #ecf0f1;
  /* gray, for closed pane */
  border: solid 1px #b1c2c6;
  margin-bottom: 1px;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitAccordionTitle {
  background-color: transparent;
  /* pick up color from dijitAccordionInnerContainer */
  padding: 6px;
  min-height: 17px;
}
.flatly .dijitAccordionTitle .dijitButtonNode {
  padding: 3px;
}
.flatly .dijitAccordionContainer .dijitAccordionChildWrapper {
  /* this extends the blue trim styling of the title bar to wrapping around the node.
   * done by setting margin
   */
  background-color: #ffffff;
  border: 1px solid #dce4ec;
  margin: 0 2px 2px;
}
.flatly .dijitAccordionContainer .dijitAccordionContainer-child {
  /* this is affecting the child widget itself */
  padding: 9px;
}
/* Hover state for closed pane */
.flatly .dijitAccordionInnerContainerHover {
  border: 1px solid #a3b6bb;
  background-color: #cfd9db;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.flatly .dijitAccordionInnerContainerHover .dijitAccordionTitle {
  color: #2c3e50;
}
/* Active state for closed pane */
.flatly .dijitAccordionInnerContainerActive {
  border: 1px solid #b1c2c6;
  background-color: #cfd9db;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitAccordionInnerContainerActive .dijitAccordionTitle {
  color: #2c3e50;
}
/* Open (a.k.a. selected) pane */
.flatly .dijitAccordionInnerContainerSelected {
  border-color: #b1c2c6;
  background-color: #ecf0f1;
}
.flatly .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
  color: #2c3e50;
}
