/* BorderContainer 

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable. 

Styling the BorderContainer widget consists of the following: 

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.  

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:  

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter 
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter 
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/
.flatly .dijitBorderContainer {
  /* matches the width of the splitters between panes */
  padding: 5px;
}
.flatly .dijitSplitContainer-child,
.flatly .dijitBorderContainer-child {
  /* By default put borders on all children of BorderContainer,
	 *  to give illusion of borders on the splitters themselves.
	 */
  border: 1px #b1c2c6 solid;
}
.flatly .dijitBorderContainer-dijitTabContainerTop,
.flatly .dijitBorderContainer-dijitTabContainerBottom,
.flatly .dijitBorderContainer-dijitTabContainerLeft,
.flatly .dijitBorderContainer-dijitTabContainerRight,
.flatly .dijitBorderContainer-dijitAccordionContainer {
  /* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */
  border: none;
}
.flatly .dijitBorderContainer-dijitBorderContainer {
  /* make nested BorderContainers look like a single big widget with lots of splitters */
  border: 0;
  padding: 0;
}
/* Splitters and gutters */
.flatly .dijitSplitterH,
.flatly .dijitGutterH {
  background: none;
  border: 0;
  height: 5px;
}
.dj_ios .flatly .dijitSplitterH,
.dj_android .flatly .dijitSplitterH {
  height: 11px;
}
.flatly .dijitSplitterH .dijitSplitterThumb {
  background: #b1c2c6 none;
  height: 1px;
  top: 2px;
  width: 19px;
}
.dj_ios .flatly .dijitSplitterH .dijitSplitterThumb,
.dj_android .flatly .dijitSplitterH .dijitSplitterThumb {
  top: 5px;
}
.flatly .dijitSplitterV,
.flatly .dijitGutterV {
  background: none;
  border: 0;
  width: 5px;
  margin: 0;
}
.dj_ios .flatly .dijitSplitterV,
.dj_android .flatly .dijitSplitterV {
  width: 11px;
}
.flatly .dijitSplitterV .dijitSplitterThumb {
  background: #b1c2c6 none;
  height: 19px;
  left: 2px;
  width: 1px;
  margin: 0;
}
.dj_ios .flatly .dijitSplitterV .dijitSplitterThumb,
.dj_android .flatly .dijitSplitterV .dijitSplitterThumb {
  left: 5px;
}
/* hovered splitter */
.flatly .dijitSplitterHHover,
.flatly .dijitSplitterVHover {
  font-size: 1px;
  background-color: #ecf0f1;
}
.flatly .dijitSplitterHHover {
  background-image: -moz-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
}
.flatly .dijitSplitterVHover {
  background-image: -moz-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
}
.flatly .dijitSplitterHHover .dijitSplitterThumb,
.flatly .dijitSplitterVHover .dijitSplitterThumb {
  background: #a3b6bb none;
}
/* active splitter */
.flatly .dijitSplitterHActive,
.flatly .dijitSplitterVActive {
  font-size: 1px;
  background-color: #cfd9db;
  background-image: none;
}
