.cabinet-shares-add-container {
    padding: 10px;
}

.cabinet-shares {
    background: #ECEFF1;
    display: inline-block;
    border: 1px solid #B0BEC5;
    margin: 10px;
}

.cabinet-shares-share-id {
    width: 50px;
    display: inline-block;
}

.cabinet-shares-share-share {
    width: 80px;
    display: inline-block;
}

.cabinet-shares-share-count {
    width: 200px;
    display: inline-block;
}

.cabinet-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.cabinet-shares-share {
    padding: 10px;
}

.cabinet-shares-share span {
    padding: 10px;
}

.cabinet-statistics-date {
    background: #ECEFF1;
    display: inline-block;
    border: 1px solid #B0BEC5;
    margin: 10px;
    padding: 10px;
}

.cabinet-statistics-charting-container {
    padding: 10px;
}

.cabinet-statistics-charting {
    height: 400px;
}

