body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    min-height: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.menu {
    color: #FFF;
    background: #009688;
    height: 60px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
}

.menu a:hover {
    background: #00695C;
}

.menu-left {
    flex-shrink: 1;
    flex-grow: 1;
}

.menu-right {

}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.btn {
    background: #009688;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #004D40;
}

.inp {
    padding: 8px;
    border: 1px solid #009688;
    border-radius: 5px;
}

.slc {
    padding: 8px;
    border: 1px solid #009688;
    background: #FFF;
    height: 36px;
}

.wait {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.wait-spinner div div {
    background-color: #FFF !important;
}
