.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-title {
    padding: 30px;
    font-size: 18px;
}

.login input {
    width: 300px;
    border: none;
    background: none;
    border-bottom: 1px solid #009688;
    outline: none;
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
}

.login-form {
    padding-bottom: 10px;
}

.login-error {
    padding: 10px 0;
    color: #F44336;
}

.login-submit {
    width: 120px;
}
