.register {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-form-input {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #009688;
    outline: none;
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
}

.register-container {
    padding: 50px;
    background: #ECEFF1;
    display: inline-block;
    border: 1px solid #B0BEC5;
}

.register-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}

.register-submit {
    width: 200px;
    margin-top: 30px;
}

.register-form {
    padding-bottom: 10px;
    text-align: center;
}

.register-error {
    padding: 10px;
    color: #F44336;
    font-size: 16px;
    font-weight: bold;
}