/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (dijitAccordionInnerContainer)
 * and the title inside of it (dijitAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.dijitAccordionInnerContainer - container for each accordion child
 * 		.dijitAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.dijitAccordionInnerContainerActive - for background-color, border
 * 		.dijitAccordionInnerContainerActive dijitAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.dijitAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.dijitAccordionInnerContainerSelected - for background-color, border
 * 		.dijitAccordionInnerContainerSelected .dijitAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.dijitAccordionInnerContainerHover, .dijitAccordionInnerContainerSelectedActive - for background-color, border
 * 		.dijitAccordionInnerContainerHover .dijitAccordionTitle - for text color
 */
.dijitAccordionContainer {
  border: none;
}
.dijitAccordionTitleFocus {
  outline: none;
}
.dijitAccordionInnerContainer {
  background-color: #ecf0f1;
  /* gray, for closed pane */
  border: solid 1px #66bb6a;
  margin-bottom: 1px;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitAccordionTitle {
  background-color: transparent;
  /* pick up color from dijitAccordionInnerContainer */
  padding: 6px;
  min-height: 17px;
}
.dijitAccordionTitle .dijitButtonNode {
  padding: 3px;
}
.dijitAccordionContainer .dijitAccordionChildWrapper {
  /* this extends the blue trim styling of the title bar to wrapping around the node.
   * done by setting margin
   */
  background-color: #ffffff;
  border: 1px solid #dce4ec;
  margin: 0 2px 2px;
}
.dijitAccordionContainer .dijitAccordionContainer-child {
  /* this is affecting the child widget itself */
  padding: 9px;
}
/* Hover state for closed pane */
.dijitAccordionInnerContainerHover {
  border: 1px solid #54b359;
  background-color: #cfd9db;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dijitAccordionInnerContainerHover .dijitAccordionTitle {
  color: #2c3e50;
}
/* Active state for closed pane */
.dijitAccordionInnerContainerActive {
  border: 1px solid #66bb6a;
  background-color: #eeeeee;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitAccordionInnerContainerActive .dijitAccordionTitle {
  color: #2c3e50;
}
/* Open (a.k.a. selected) pane */
.dijitAccordionInnerContainerSelected {
  border-color: #66bb6a;
  background-color: #ecf0f1;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle {
  color: #2c3e50;
}
