/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
@import "../variables";

.dijitContentPane {
  padding: 8px;
}

/* nested layouts */
.dijitTabContainerTop-dijitContentPane,
.dijitTabContainerLeft-dijitContentPane,
.dijitTabContainerBottom-dijitContentPane,
.dijitTabContainerRight-dijitContentPane,
.dijitAccordionContainer-dijitContentPane {
  background-color: @dijit-pane-background-color;
  padding: 8px;
}

.dijitSplitContainer-dijitContentPane,
.dijitBorderContainer-dijitContentPane {
  background-color: @dijit-pane-background-color;
  padding: 8px;
}