/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */
/*** some common features ***/
.dijitTabPaneWrapper {
  background: #ffffff;
}
.dijitTabPaneWrapper,
.dijitTabContainerTop-tabs,
.dijitTabContainerBottom-tabs,
.dijitTabContainerLeft-tabs,
.dijitTabContainerRight-tabs {
  /* todo: add common class name for this div */
  border-color: #66bb6a;
}
.dijitTabCloseButton {
  background: url("/bundles/app/css/dijit/layout/images/tabClose.png") no-repeat;
  width: 14px;
  height: 14px;
}
.dijitTabContainerTop-tabs .dijitTabCloseButton {
  margin-top: -2px;
}
.dijitTabContainerBottom-tabs .dijitTabCloseButton {
  margin-top: 2px;
}
.dijitTabCloseButtonHover {
  background-position: -14px;
}
.dijitTabCloseButtonActive {
  background-position: -28px;
}
.dijitTabSpacer {
  /* set the spacer invisible.  note that height:0 doesn't work on IE/quirks, it's still 10px. */
  display: none;
}
.dijitTab {
  border: 1px solid transparent;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitTab .tabLabel {
  outline: none;
}
.dijitTabContainerTop-tabs .tabLabel {
  margin-top: -2px;
}
.dijitTabContainerBottom-tabs .tabLabel {
  margin-top: 2px;
}
.dijitTabActive {
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitTabChecked {
  border-color: #66bb6a;
  background-color: #ffffff;
}
.dijitTabDisabled {
  background-color: #b1c2c6;
}
.tabStripButton {
  background-color: transparent;
  border: none;
}
/*** end common ***/
/*************** top tab ***************/
.dijitTabContainerTop-tabs .dijitTab {
  /* unselected (and not hovered/pressed) tab */
  padding: 6px;
  border-bottom-width: 0;
  min-width: 60px;
  text-align: center;
}
.dijitTabContainerTop-tabs .dijitTabChecked {
  /* selected tab */
}
/** end top tab **/
/*************** bottom tab ***************/
.dijitTabContainerBottom-tabs .dijitTab {
  /* unselected (and not hovered/pressed) tab */
  border-top-width: 0;
  min-width: 60px;
  text-align: center;
}
/* selected tab */
.dijitTabContainerBottom-tabs .dijitTabChecked {
  padding-bottom: 9px;
  padding-top: 4px;
  background-image: url("/bundles/app/css/dijit/layout/images/tabBottomSelected.png");
  background-image: -moz-linear-gradient(bottom, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px, #ffffff 7px);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px, #ffffff 7px);
  background-image: -o-linear-gradient(bottom, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px, #ffffff 7px);
  background-image: linear-gradient(bottom, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px, #ffffff 7px);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/** end bottom tab **/
/*************** left tab ***************/
.dijitTabContainerLeft-tabs .dijitTab {
  /* unselected (and not hovered/pressed) tab */
  left: 1px;
  /* used for overlap */
  margin-bottom: 1px;
  padding: 3px 8px 4px 4px;
  background-image: url("/bundles/app/css/dijit/layout/images/tabLeftUnselected.png");
  background-repeat: repeat-y;
  background-image: -moz-linear-gradient(left, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(left, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
}
/* selected tab */
.dijitTabContainerLeft-tabs .dijitTabChecked {
  border-right-width: 0;
  padding-right: 9px;
  background-image: url("/bundles/app/css/dijit/layout/images/tabLeftSelected.png");
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
}
/** end left tab **/
/*************** right tab ***************/
.dijitTabContainerRight-tabs .dijitTab {
  /* unselected (and not hovered/pressed) tab */
  left: -1px;
  /* used for overlap */
  margin-bottom: 1px;
  padding: 3px 8px 4px 4px;
  background-image: url("/bundles/app/css/dijit/layout/images/tabRightUnselected.png");
  background-repeat: repeat-y;
  background-position: right;
  background-image: -moz-linear-gradient(right, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(right, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(right, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(right, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
}
.dijitTabContainerRight-tabs .dijitTabChecked {
  /* selected tab */
  padding-left: 5px;
  border-left-width: 0;
  background-image: url("/bundles/app/css/dijit/layout/images/tabRightSelected.png");
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0.5) 0px, #ffffff 30px);
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
}
/** end right tab **/
/** round corner **/
/************ left/right scroll buttons + menu button ************/
.tabStripButton {
  padding: 6px;
}
.dijitTabListContainer-top .tabStripButton {
  border-bottom: 1px solid #66bb6a !important;
}
.dijitTabListContainer-bottom .tabStripButton {
  border-top: 1px solid #66bb6a !important;
}
.dijitTabStripIcon {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  background: url("/bundles/app/css/dijit/form/images/buttonArrows.png") no-repeat -75px 50%;
  background-color: transparent;
}
.dijitTabStripSlideRightIcon {
  background-position: -24px 50%;
}
.dijitTabStripMenuIcon {
  background-position: -51px 50%;
}
/*disabled styles for tab strip buttons*/
.dijitTabListContainer-top .tabStripButtonDisabled,
.dijitTabListContainer-bottom .tabStripButtonDisabled {
  border: 1px solid #66bb6a;
  /* to match border of TabContainer itself */
}
.tabStripButtonDisabled .dijitTabStripSlideLeftIcon {
  background-position: -175px 50%;
}
.tabStripButtonDisabled .dijitTabStripSlideRightIcon {
  background-position: -124px 50%;
}
.tabStripButtonDisabled .dijitTabStripMenuIcon {
  background-position: -151px 50%;
}
/* Nested Tabs */
.dijitTabContainerNested .dijitTabListWrapper {
  height: auto;
}
.dijitTabContainerNested .dijitTabContainerTop-tabs {
  border-bottom: solid 1px #66bb6a;
  padding: 2px 2px 4px;
}
.dijitTabContainerTabListNested .dijitTab {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 4px;
  border-color: rgba(118, 157, 192, 0);
  -o-transition-property: background-color, border-color;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  top: 0;
  /* to override top: 1px/-1px for normal tabs */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: url("/bundles/app/css/dijit/layout/images/tabNested.png") repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.61) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.61) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.61) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.61) 100%);
}
.dijitTabContainerTabListNested .dijitTabHover {
  background-color: #fbfcfc;
  border: solid 1px #ecf0f1;
  padding: 3px;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dijitTabContainerTabListNested .dijitTabHover .tabLabel {
  text-decoration: none;
}
.dijitTabContainerTabListNested .dijitTabActive {
  border: solid 1px #dce4ec;
  padding: 3px;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.dijitTabContainerTabListNested .dijitTabChecked {
  padding: 3px;
  border: solid 1px #dce4ec;
  background-color: #ecf0f1;
}
.dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
  text-decoration: none;
  background-image: none;
}
.dijitTabPaneWrapperNested {
  border: none;
  /* prevent double border */
}
.dijitTabContainer .dijitTab,
.dijitTabContainer .tabStripButton {
  padding: 6px;
  _background-image: none;
}
