/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
.flatly .dijitCalendar {
  border: solid 1px #b1c2c6;
  border-collapse: separate;
  background-color: #ecf0f1;
  text-align: center;
  padding: 6px;
}
.dj_ie6 .flatly .dijitCalendar {
  background-image: none;
}
.flatly .dijitCalendar img {
  border: none;
}
.flatly .dijitCalendarHover,
.flatly .dijitCalendar:hover,
.flatly .dijitCalendarActive {
  background-color: #ecf0f1;
  border: solid 1px #a3b6bb;
}
.flatly .dijitCalendarMonthContainer th {
  text-align: center;
  vertical-align: middle;
}
.flatly .dijitCalendarMonthLabel {
  color: #2c3e50;
  font-weight: bold;
}
/* next/previous month arrows */
.flatly .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  margin: 6px;
  background-image: url("images/calendarArrows.png");
  background-repeat: no-repeat;
}
.dj_ie6 .flatly .dijitCalendarIncrementControl {
  background-image: url("images/calendarArrows8bit.png");
}
.flatly .dijitCalendarIncrease {
  background-position: -18px 0;
}
.flatly .dijitCalendarArrowHover {
  background: #cfd9db;
}
.flatly .dijitCalendarArrowHover .dijitCalendarDecrease,
.flatly .dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}
.flatly .dijitCalendarArrowHover .dijitCalendarIncrease,
.flatly .dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}
.flatly .dijitCalendarArrowActive .dijitCalendarDecrease,
.flatly .dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}
.flatly .dijitCalendarArrowActive .dijitCalendarIncrease,
.flatly .dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}
.flatly .dijitA11ySideArrow {
  /* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.flatly .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  padding: 0 3px 2px;
}
.flatly .dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: #2c3e50;
}
.flatly .dijitCalendarDateTemplate {
  background-color: #ffffff;
  border-bottom: 1px solid #ecf0f1;
  padding-top: 0;
  letter-spacing: .05em;
  text-align: center;
  color: #2c3e50;
  outline: none;
}
.dj_ie6 .flatly .dijitCalendarDateTemplate {
  background-image: none;
}
.flatly .dijitCalendarPreviousMonth,
.flatly .dijitCalendarNextMonth {
  background-color: #fbfcfc;
  background-image: none;
  border-bottom: solid 1px #ecf0f1;
  /* todo: redundant with above .dijitCalendarDateTemplate rule */
}
.flatly .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 6px;
  border: solid 1px #ffffff;
  /* intentionally matches background-color, no visible border until hover/selection */
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.flatly .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #dce4ec;
  border-color: #fbfcfc;
  /* intentionally matches background-color, no visible border until hover/selection */
}
.flatly .dijitCalendarYearContainer {
  vertical-align: middle;
}
.flatly .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.flatly .dijitCalendarYearLabel {
  padding: 6px;
  margin: 0;
}
.flatly .dijitCalendarYearLabel span {
  /* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}
.flatly .dijitCalendarSelectedYear {
  padding: 0 3px;
}
.flatly .dijitCalendarNextYear,
.flatly .dijitCalendarPreviousYear {
  padding: 6px;
}
.flatly .dijitCalendarSelectedYear {
  color: #2c3e50;
  font-weight: bold;
}
/* End Normal Calendar Style */
/* Hovered Calendar Style */
.flatly .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.flatly .dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background: #cfd9db;
  color: #2c3e50;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.flatly .dijitCalendarNextYearHover,
.flatly .dijitCalendarNextYear:hover,
.flatly .dijitCalendarPreviousYearHover,
.flatly .dijitCalendarPreviousYear:hover {
  color: #2c3e50;
  border: none;
  padding: 6px;
  /* reduced by 1 to make room for border */
  background: #cfd9db;
}
/* End Hovered Calendar Style */
/* Active Calendar Style */
.flatly .dijitCalendarNextYearActive,
.flatly .dijitCalendarNextYear:active .flatly .dijitCalendarPreviousYearActive,
.flatly .dijitCalendarPreviousYear:active {
  border: solid 1px none;
  padding: 0 5px 0 5px;
  /* reduced by 1 to make room for border */
  background-color: #cfd9db;
}
.flatly .dijitCalendarActiveDate .dijitCalendarDateLabel,
.flatly .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #cfd9db;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.dj_ie6 .flatly .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
/* End Active Calendar Style */
/* Selected Calendar Style */
.flatly .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #2c3e50;
  background: #cfd9db;
}
/* End Selected Calendar Style */
/* Disabled Calendar Style*/
.flatly .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #42555a;
  text-decoration: line-through;
}
/* End Disabled Calendar Style */
/* Styling for month DropDownButton */
.flatly .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.flatly .dijitCalendar .dijitButtonText {
  margin-right: 10px;
}
.flatly .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: 6px;
  border: none;
  background: #ecf0f1;
}
.flatly .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.flatly .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background: #cfd9db;
  border: none;
}
/* Styling for month drop down list */
.flatly .dijitCalendarMonthMenu {
  border: 1px solid #b1c2c6;
  background: #ffffff;
  text-align: center;
}
.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  font-weight: normal;
  padding: 6px;
}
.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  background: #cfd9db;
}
