/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
@import "variables";

.flatly .dijitCalendar {
  border: solid 1px @border-color;
  border-collapse: separate; // in case user CSS has set border-collapse: collapse for tables
  background-color: @calendar-background-color;
  text-align: center;
  padding: @input-padding;
}

.dj_ie6 .flatly .dijitCalendar {
  background-image: none; // because on IE6 background-image overrides background-color
}

.flatly .dijitCalendar img {
  border: none;
}

.flatly .dijitCalendarHover, .flatly .dijitCalendar:hover,
.flatly .dijitCalendarActive {
  background-color: @calendar-hovered-background-color;
  border: solid 1px @border-hovered-color;
}

.flatly .dijitCalendarMonthContainer th {
  text-align: center;
  vertical-align: middle;
}

.flatly .dijitCalendarMonthLabel {
  color: @text-color;
  font-weight: bold;
  //font-size: 1.091em;
  //padding: @input-padding;
}

/* next/previous month arrows */
.flatly .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  margin: @input-padding;
  background-image: url(@image-calendar-arrows);
  background-repeat: no-repeat;
}

.dj_ie6 .flatly .dijitCalendarIncrementControl {
  background-image: url(@image-calendar-arrows-ie6);
}

.flatly .dijitCalendarIncrease {
  background-position: -18px 0;
}

.flatly .dijitCalendarArrowHover {
  background: @button-hovered-background;
}

.flatly .dijitCalendarArrowHover .dijitCalendarDecrease,
.flatly .dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}

.flatly .dijitCalendarArrowHover .dijitCalendarIncrease,
.flatly .dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}

.flatly .dijitCalendarArrowActive .dijitCalendarDecrease,
.flatly .dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}

.flatly .dijitCalendarArrowActive .dijitCalendarIncrease,
.flatly .dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}

.flatly .dijitA11ySideArrow {
  /* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}

.flatly .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  //border-bottom: 1px solid @border-color;
  padding: 0 3px 2px;
}

.flatly .dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: @text-color;
}

.flatly .dijitCalendarDateTemplate {
  text-align: center;
  background-color: @calendar-currentmonth-background-color;
  border-bottom: 1px solid @minor-border-color;
  padding-top: 0;
  //font-size: 0.909em;
  //font-family: Arial;
  //font-weight: bold;
  letter-spacing: .05em;
  text-align: center;
  color: @text-color;
  outline: none;
}

.dj_ie6 .flatly .dijitCalendarDateTemplate {
  background-image: none;
}

.flatly .dijitCalendarPreviousMonth,
.flatly .dijitCalendarNextMonth {
  background-color: @calendar-adjacentmonth-background-color;
  background-image: none;
  border-bottom: solid 1px @minor-border-color; /* todo: redundant with above .dijitCalendarDateTemplate rule */
}

.flatly .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: @input-padding;
  border: solid 1px @calendar-currentmonth-background-color; /* intentionally matches background-color, no visible border until hover/selection */
  .transition-duration(@transition-duration);
}

.flatly .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.flatly .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: @calendar-adjacentmonth-text-color;
  border-color: @calendar-adjacentmonth-background-color; /* intentionally matches background-color, no visible border until hover/selection */
}

.flatly .dijitCalendarYearContainer {
  vertical-align: middle;
  //padding: @input-padding;
}

.flatly .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}

.flatly .dijitCalendarYearLabel {
  padding: @input-padding;
  margin: 0;
  //font-size: 1.17em;
}

.flatly .dijitCalendarYearLabel span {
  /* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}

.flatly .dijitCalendarSelectedYear {
  padding: 0 3px;
}

.flatly .dijitCalendarNextYear,
.flatly .dijitCalendarPreviousYear {
  padding: @input-padding;
  //font-size: 0.909em;
}

.flatly .dijitCalendarSelectedYear {
  //font-size: 1.091em;
  color: @selected-text-color;
  font-weight: bold;
}

/* End Normal Calendar Style */
/* Hovered Calendar Style */
.flatly .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.flatly .dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background: @calendar-date-hovered-background;
  color: @hovered-text-color;
  .transition-duration(@transition-duration);
}

.flatly .dijitCalendarNextYearHover, .flatly .dijitCalendarNextYear:hover,
.flatly .dijitCalendarPreviousYearHover, .flatly .dijitCalendarPreviousYear:hover {
  color: @hovered-text-color;
  border: @calendar-button-hovered-border;
  padding: @input-padding; /* reduced by 1 to make room for border */
  background: @calendar-button-hovered-background;
}

/* End Hovered Calendar Style */
/* Active Calendar Style */
.flatly .dijitCalendarNextYearActive, .flatly .dijitCalendarNextYear:active
.flatly .dijitCalendarPreviousYearActive, .flatly .dijitCalendarPreviousYear:active {
  border: solid 1px @calendar-button-pressed-border;
  padding: 0 5px 0 5px; /* reduced by 1 to make room for border */
  background-color: @calendar-button-pressed-background;
}

.flatly .dijitCalendarActiveDate .dijitCalendarDateLabel,
.flatly .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: @calendar-date-pressed-background;
  .transition-duration(@transition-duration);
}

.dj_ie6 .flatly .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}

/* End Active Calendar Style */
/* Selected Calendar Style */
.flatly .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: @selected-text-color;
  background: @calendar-date-selected-background;
}

/* End Selected Calendar Style */
/* Disabled Calendar Style*/
.flatly .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: @disabled-text-color;
  text-decoration: line-through;
}

/* End Disabled Calendar Style */

/* Styling for month DropDownButton */

.flatly .dijitCalendar .dijitDropDownButton {
  margin: 0;
}

.flatly .dijitCalendar .dijitButtonText {
  margin-right: 10px;
}

.flatly .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: @input-padding;
  border: @calendar-button-border;
  background: @calendar-button-background;
}

.flatly .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.flatly .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background: @calendar-button-hovered-background;
  border: @calendar-button-hovered-border;
}

/* Styling for month drop down list */

.flatly .dijitCalendarMonthMenu {
  border: @popup-border;
  background: @menu-background;
  text-align: center;
}

.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  //border-top: solid 1px @menu-background; /* intentionally invisible until hover */
  //border-bottom: solid 1px @menu-background;
  font-weight: normal;
  padding: @input-padding;
}

.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.flatly .dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  //border-width: 1px 0;
  background: @minor-selected-color;
  //.gradient-and-filter(@hovered-background-color, 70, 0);
}
