/* ========= Styling rules to affect widgets ========= */
.flatly .dijitPopup {
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.flatly .dijitPopup::-webkit-scrollbar-thumb {
  background-color: #77939a;
}
.flatly .dijitPopup::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.flatly .dijitPopup::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.flatly .dijitPopup::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}
.flatly .dijitPopup::-webkit-scrollbar-corner {
  background-color: #ecf0f1;
}
.flatly .dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.flatly .dijitComboBoxHighlightMatch {
  background-color: #cfd9db;
}
/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
.flatly .dijitFocusedLabel {
  outline: none;
}
/* Drag and Drop*/
.flatly .dojoDndItem {
  border-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.flatly .dojoDndItemOver {
  background-color: #cfd9db;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
  border: solid 1px #a3b6bb;
  color: #2c3e50;
}
.flatly .dojoDndItemAnchor,
.flatly .dojoDndItemSelected {
  background-color: #ecf0f1;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
  border: solid 1px #dce4ec;
  color: #2c3e50;
}
.flatly .dojoDndItemBefore,
.flatly .dojoDndItemAfter {
  border-color: #dce4ec;
}
.flatly table.dojoDndAvatar {
  border: 1px solid #b1c2c6;
  border-collapse: collapse;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.flatly .dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}
.flatly.dojoDndMove .dojoDndAvatarHeader,
.flatly.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}
.flatly .dojoDndAvatarItem td {
  padding: 5px;
}
.flatly.dojoDndMove .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -103px;
}
.flatly.dojoDndCopy .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -68px;
}
.flatly.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px -33px;
}
.flatly.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px 2px;
}
