/* ========= Styling rules to affect widgets ========= */
@import "variables";

.flatly .dijitPopup {
  //background: @popup-background;
  //.border-radius(@popup-border-radius);
  .box-shadow(@popup-box-shadow);
}

.flatly .dijitPopup::-webkit-scrollbar-thumb {
  .scrollbar-thumb();
}

.flatly .dijitPopup::-webkit-scrollbar {
  .scrollbar();
}

.flatly .dijitPopup::-webkit-scrollbar-button {
  .scrollbar-button();
}

.flatly .dijitPopup::-webkit-scrollbar-track {
  .scrollbar-track();
}

.flatly .dijitPopup::-webkit-scrollbar-corner {
  .scrollbar-corner();
}

.flatly .dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */
  .box-shadow(none);
}

/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.flatly .dijitComboBoxHighlightMatch {
  background-color: @select-matchedtext-background-color;
}

/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
.flatly .dijitFocusedLabel {
  outline: @label-focused-outline;
}

/* Drag and Drop*/
.flatly .dojoDndItem {
  border-color: rgba(0, 0, 0, 0); // rgba() instead of none to prevent flash on hover fade-in
  .transition-duration(.25s);
  .transition-property(background-color, border-color)
}

.flatly .dojoDndItemOver {
  // Hovered item.  Matches dijitTreeRowHover.
  background-color: @hovered-background-color;
  .standard-gradient;
  padding: 1px; // reduce from 2px in dijit.css
  border: solid 1px @border-hovered-color;
  color: @hovered-text-color;
}

.flatly .dojoDndItemAnchor,
.flatly .dojoDndItemSelected {
  // Selected items(s).   Matches dijitTreeRowSelected.
  background-color: @selected-background-color;
  .standard-gradient;
  padding: 1px; // reduce from 2px in dijit.css
  border: solid 1px @selected-border-color;
  color: @selected-text-color;
}

.flatly .dojoDndItemBefore,
.flatly .dojoDndItemAfter {
  // line to indicate that user is dropping before/after this dojoDndItem
  border-color: @dnd-dropseparator-color;
}

.flatly table.dojoDndAvatar {
  border: 1px solid @border-color;
  border-collapse: collapse;
  background-color: @dnd-avatar-background-color;
  .box-shadow(0 1px 3px rgba(0, 0, 0, .25));
}

.flatly .dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}

.flatly.dojoDndMove .dojoDndAvatarHeader, .flatly.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url(@image-dnd);
  background-repeat: no-repeat;
  background-position: 2px -122px;
}

.flatly .dojoDndAvatarItem td {
  padding: 5px;
}

.flatly.dojoDndMove .dojoDndAvatarHeader {
  background-color: @dnd-avatar-header-background-color;
  background-position: 2px -103px;
}

.flatly.dojoDndCopy .dojoDndAvatarHeader {
  background-color: @dnd-avatar-header-background-color;
  background-position: 2px -68px;
}

.flatly.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: @dnd-avatar-candrop-header-background-color;
  background-position: 2px -33px;
}

.flatly.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: @dnd-avatar-candrop-header-background-color;
  background-position: 2px 2px;
}
