/* ======= Styling for the document itself (overriding dojo.css) ======== */

@import "variables";
@import url("../../../dojo/resources/dojo.css");

.flatly {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: @document-text-color;
}

/* Headings */
.flatly h1 {
	font-size: 1.545em; 
	margin-bottom:0.727em;
}
.flatly h2 {
	font-size: 1.364em; 
	line-height: 1.455em; 
	margin-top:1em; 
	margin-bottom:0.60em;
	font-weight: normal;
}
.flatly h3, .flatly h4, .flatly h5, .flatly h6 {
	font-size:1.091em; 
	font-weight: normal; 
}

/* paragraphs, quotes and lists */
.flatly p {
	line-height: 1.3em;
}

/* pre and code */
.flatly pre, .flatly code {
	font-family:inherit; 
	background-color: @document-shadedsection-background-color; 
	border: 1px solid @document-border-color;
}

/* tables */
.flatly table.dojoTabular thead, .flatly table.dojoTabular tfoot {
	background-color: @document-shadedsection-background-color; 
	border: 1px solid @document-border-color; 
}
