/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
.flatly .dijitEditorIFrameContainer {
  padding: 3px 3px 1px 10px;
}
.flatly .dijitEditorIFrame {
  background-color: #ffffff;
}
.flatly .dijitEditor {
  border: 1px solid #b1c2c6;
}
.flatly .dijitEditor .dijitEditorIFrameContainer {
  background-color: #ffffff;
  background-repeat: repeat-x;
}
.flatly .dijitEditorHover .dijitEditorIFrameContainer,
.flatly .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #fbfcfc;
}
.flatly .dijitEditorFocused .dijitEditorIFrameContainer,
.flatly .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #ffffff;
}
/* Disabled */
.flatly .dijitEditorDisabled {
  border: 1px solid #b1c2c6;
  color: #42555a;
}
.flatly .dijitDisabled .dijitEditorIFrame,
.flatly .dijitDisabled .dijitEditorIFrameContainer,
.flatly .dijitDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #ecf0f1;
  background-image: none;
}
