/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.flatly .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.flatly .dijitInlineEditBoxDisplayModeHover {
  background-color: #fbfcfc;
  border: solid 1px #a3b6bb;
}
.dj_ie6 .flatly .dijitInlineEditBoxDisplayMode {
  border: none;
}
