/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */

@import "variables";

.flatly .dijitInlineEditBoxDisplayMode {
	border: 1px solid transparent;
}

.flatly .dijitInlineEditBoxDisplayModeHover {
	background-color: @input-hovered-background-color;
	border: solid 1px @border-hovered-color;
}

.dj_ie6 .flatly .dijitInlineEditBoxDisplayMode {
	border: none;
}
