/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	

 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for background-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
.flatly .dijitMenuBar {
  border: 1px solid #b1c2c6;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}
.flatly .dijitMenu {
  background-color: #ffffff;
  border: 1px solid #b1c2c6;
}
.flatly .dijitMenuItem {
  color: #2c3e50;
}
.flatly .dijitMenuBar .dijitMenuItem {
  padding: 6px;
}
.flatly .dijitMenuBar .dijitMenuItemHover,
.flatly .dijitMenuBar .dijitMenuItemSelected {
  padding: 6px;
}
/* this prevents jiggling upon hover of a menu item */
.flatly .dijitMenuTable {
  border-collapse: separate;
  border-spacing: 0 0;
  padding: 5px 0 5px 0;
}
.flatly .dijitMenu .dijitMenuItem td,
.flatly .dijitComboBoxMenu .dijitMenuItem {
  padding: 6px;
  border: none;
  color: #2c3e50;
}
/* hover over a MenuItem or MenuBarItem */
.flatly .dijitMenu .dijitMenuItemHover td,
.flatly .dijitMenu .dijitMenuItemSelected td,
.flatly .dijitMenuItemHover,
.flatly .dijitComboBoxMenu .dijitMenuItemHover,
.flatly .dijitMenuItemSelected {
  border: none;
  background: #cfd9db;
  color: #2c3e50;
}
.dj_ie .flatly .dijitMenuActive .dijitMenuItemHover,
.dj_ie .flatly .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .flatly .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .flatly .dijitMenuPassive .dijitMenuItemSelected {
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: -3px;
}
.flatly td.dijitMenuItemIconCell {
  padding: 2px;
  margin: 0 0 0 4px;
}
.flatly td.dijitMenuItemLabel {
  padding-top: 5px;
  padding-bottom: 5px;
}
.flatly .dijitMenuExpand {
  width: 7px;
  height: 7px;
  background-image: url("images/spriteArrows.png");
  background-position: -14px 0;
  margin-right: 3px;
  margin-bottom: 4px;
}
.flatly .dijitMenuSeparatorTop {
  height: auto;
  margin-top: 5px;
  /* prevents spacing above/below separator */
  border-bottom: 1px solid #ecf0f1;
}
.flatly .dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 5px;
}
/* the checked menu item */
.flatly .dijitCheckedMenuItem .dijitMenuItemIcon,
.flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url("form/images/checkboxRadioButtonStates.png");
  background-repeat: no-repeat;
  background-position: -15px 50%;
  /* unchecked checkbox */
  width: 15px;
  height: 16px;
}
.dj_ie6 .flatly .dijitCheckedMenuItem .dijitMenuItemIcon,
.dj_ie6 .flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url("form/images/checkboxAndRadioButtons_IE6.png");
}
.flatly .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
  background-position: 0 50%;
  /* checked checkbox */
}
.flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-position: -105px 50%;
  /* unfilled circle */
}
.flatly .dijitRadioMenuItemChecked .dijitMenuItemIcon {
  background-position: -90px 50%;
  /* filled circle */
}
/*ComboBox Menu*/
.flatly .dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.flatly .dijitMenu .dijitMenuItemSelected td,
.flatly .dijitComboBoxMenu .dijitMenuItemSelected {
  border-color: #a3b6bb;
  background: #cfd9db;
  color: #2c3e50;
}
.flatly .dijitComboBoxMenuActive .dijitMenuItemSelected {
  background-color: #b1c2c6;
  /* TODO: why is this a different color than normal .dijitMenuItemSelected? */
}
.flatly .dijitMenuPreviousButton,
.flatly .dijitMenuNextButton {
  font-style: italic;
}
