/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	

 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for background-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
@import "variables";

.flatly .dijitMenuBar {
  border: 1px solid @border-color;
  margin: 0;
  padding: 0;
  background-color: @bar-background-color;
}

.flatly .dijitMenu {
  background-color: @menu-background;
  border: @popup-border;
  //.border-radius(@popup-border-radius);
  //border: @popup-border;
}

.flatly .dijitMenuItem {
  color: @text-color;
}

.flatly .dijitMenuBar .dijitMenuItem {
  padding: @input-padding;
}

.flatly .dijitMenuBar .dijitMenuItemHover,
.flatly .dijitMenuBar .dijitMenuItemSelected {
  // on hover or selection of MenuBar item, add border and reduce padding to compensate
  //border: solid 1px @border-color;
  padding: @input-padding;
}

/* this prevents jiggling upon hover of a menu item */
.flatly .dijitMenuTable {
  border-collapse: separate;
  border-spacing: 0 0;
  padding: @menu-separator-margin 0 @menu-separator-margin 0;
}

.flatly .dijitMenu .dijitMenuItem td,
.flatly .dijitComboBoxMenu .dijitMenuItem {
  padding: @input-padding; // Make drop down menu text line up with text in <input>.
  border: @menu-item-border;
  color: @menu-item-color;
  //border-width: 1px 0 1px 0;
  //border-style: solid;
  //border-color: @select-dropdownitem-background-color;
}

/* hover over a MenuItem or MenuBarItem */
.flatly .dijitMenu .dijitMenuItemHover td,
.flatly .dijitMenu .dijitMenuItemSelected td,
.flatly .dijitMenuItemHover,
.flatly .dijitComboBoxMenu .dijitMenuItemHover,
.flatly .dijitMenuItemSelected {
  // note: seems like the selected MenuItem should use @pressed-background-color
  // and .active-gradient, but claro didn't to that
  //border-color: @hovered-border-color;
  border: @menu-item-hovered-border;
  background: @menu-item-hovered-background;
  color: @menu-item-hovered-color;
}

.flatly .dijitMenuItemActive {
  // todo: seems like the selected MenuItem should come here
  // todo: seems like should use @pressed-background-color
  // .active-gradient;
}

.dj_ie .flatly .dijitMenuActive .dijitMenuItemHover,
.dj_ie .flatly .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .flatly .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .flatly .dijitMenuPassive .dijitMenuItemSelected {
  // Selectivity set to override ComboBox rules below.
  // If this rule isn't present, on IE6 hovering an item in the ComboBox drop down causes two
  // items to be highlighted (except when hovering the first item in the list)
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: -3px;
}

.flatly td.dijitMenuItemIconCell {
  padding: 2px;
  margin: 0 0 0 4px;
}

.flatly td.dijitMenuItemLabel {
  padding-top: 5px;
  padding-bottom: 5px;
}

.flatly .dijitMenuExpand {
  width: 7px;
  height: 7px;
  background-image: url(@image-arrow-sprite);
  background-position: -14px 0;
  margin-right: 3px;
  margin-bottom: 4px;
}

.flatly .dijitMenuSeparatorTop {
  height: auto;
  margin-top: @menu-separator-margin; /* prevents spacing above/below separator */
  border-bottom: @menu-separator-border;
}

.flatly .dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: @menu-separator-margin;
}

/* the checked menu item */
.flatly .dijitCheckedMenuItem .dijitMenuItemIcon,
.flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url(@image-form-checkbox-and-radios);
  background-repeat: no-repeat;
  background-position: -15px 50%; /* unchecked checkbox */
  width: 15px;
  height: 16px;
}

.dj_ie6 .flatly .dijitCheckedMenuItem .dijitMenuItemIcon,
.dj_ie6 .flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: url(@image-form-checkbox-and-radios-ie6);
}

.flatly .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
  background-position: 0 50%; /* checked checkbox */
}

.flatly .dijitRadioMenuItem .dijitMenuItemIcon {
  background-position: -105px 50%; /* unfilled circle */
}

.flatly .dijitRadioMenuItemChecked .dijitMenuItemIcon {
  background-position: -90px 50%; /* filled circle */
}

/*ComboBox Menu*/
.flatly .dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}

.flatly .dijitMenu .dijitMenuItemSelected td,
.flatly .dijitComboBoxMenu .dijitMenuItemSelected {
  // TODO: combine with above rules for selected items?
  // But the selected item in a Select drop down is different than when MenuBarItem "File" is highlighted
  // because the user is on the file menu?
  border-color: @border-hovered-color;
  background: @menu-item-hovered-background;
  color: @menu-item-hovered-color;
}

.flatly .dijitComboBoxMenuActive .dijitMenuItemSelected {
  background-color: @select-dropdownitem-hovered-background-color; /* TODO: why is this a different color than normal .dijitMenuItemSelected? */
}

.flatly .dijitMenuPreviousButton, .flatly .dijitMenuNextButton {
  font-style: italic;
}
