/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.flatly .dijitTitlePaneTitle {
  background-color: #b1c2c6;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  border: 1px solid #b1c2c6;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  color: #121819;
}
.flatly .dijitFieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.flatly .dijitTitlePaneTitleOpen,
.flatly .dijitTitlePaneTitleFixedOpen {
  background-color: #ecf0f1;
  color: #2c3e50;
}
.flatly .dijitTitlePaneTitleHover {
  background-color: #cfd9db;
  border-color: #a3b6bb;
}
.flatly .dijitTitlePaneTitleActive {
  background-color: #b1c2c6;
  border-color: #dce4ec;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.flatly .dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}
.flatly .dijitTitlePane .dijitArrowNode,
.flatly .dijitFieldset .dijitArrowNode {
  background-image: url("images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.flatly .dijitTitlePaneTitleOpen .dijitArrowNode,
.flatly .dijitFieldsetTitleOpen .dijitArrowNode {
  background-position: 0 0;
}
.flatly .dijitTitlePaneTitleClosed .dijitArrowNode,
.flatly .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}
.flatly .dijitTitlePaneContentOuter {
  background: #ffffff;
  border: 1px solid #b1c2c6;
  border-top: none;
}
.flatly .dijitTitlePaneContentInner {
  padding: 10px;
}
.flatly .dijitFieldsetContentInner {
  padding: 4px;
}
.flatly .dijitTitlePaneTextNode,
.flatly .dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
