/* Toolbar 
 * 
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 * 
 * 1. toolbar (default styling): 
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 * 		
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 * 
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */
.flatly .dijitToolbar {
  border-bottom: 1px solid #b1c2c6;
  background-color: #ecf0f1;
  padding: 6px;
  zoom: 1;
}
.flatly .dijitToolbar label {
  padding: 0 3px 0 6px;
}
/** override claro/form/Button.css, and also ComboBox down arrow **/
.flatly .dijitToolbar .dijitButton .dijitButtonNode,
.flatly .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.flatly .dijitToolbar .dijitComboButton .dijitButtonNode,
.flatly .dijitToolbar .dijitToggleButton .dijitButtonNode,
.flatly .dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 6px;
  border: 1px solid transparent !important;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.dj_ie .flatly .dijitToolbar .dijitButton .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitComboButton .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitToggleButton .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitComboBox .dijitButtonNode {
  background-color: transparent;
  /* for IE, which doesn't understand rgba(...) */
}
/* hover status */
.dj_ie .flatly .dijitToolbar .dijitButtonHover .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitComboButton .dijitButtonNodeHover,
.dj_ie .flatly .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover,
.dj_ie .flatly .dijitToolbar .dijitToggleButtonHover .dijitButtonNode {
  /* button should still turn blue on hover, so need to override .dj_ie rules above */
  background: #cfd9db;
}
/* active status */
.dj_ie .flatly .dijitToolbar .dijitButtonActive .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.dj_ie .flatly .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  /* button should still turn blue on press, so need to override .dj_ie rules above */
  background: #cfd9db;
}
.flatly .dijitToolbar .dijitComboButton .dijitStretch {
  /* no rounded border on side adjacent to arrow */
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.flatly .dijitToolbar .dijitComboButton .dijitArrowButton {
  /* no rounded border on side adjacent to button */
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.flatly .dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 0;
}
/* hover status */
.flatly .dijitToolbar .dijitButtonHover .dijitButtonNode,
.flatly .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.flatly .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.flatly .dijitToolbar .dijitComboButtonHover .dijitButtonNode {
  border-width: 1px;
  background-color: #cfd9db;
}
.flatly .dijitToolbar .dijitComboButtonHover .dijitButtonNode,
.flatly .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
  background-color: #ffffff;
}
.flatly .dijitToolbar .dijitComboButtonHover .dijitButtonNodeHover,
.flatly .dijitToolbar .dijitComboButtonHover .dijitDownArrowButtonHover {
  background-color: #cfd9db;
}
/* active status */
.flatly .dijitToolbar .dijitButtonActive .dijitButtonNode,
.flatly .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.flatly .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  background-color: #b1c2c6;
}
.flatly .dijitToolbar .dijitComboButtonActive {
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
  border-width: 1px;
  padding: 0;
}
.flatly .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.flatly .dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
  background-color: #ffffff;
  padding: 2px;
}
.flatly .dijitToolbar .dijitComboButtonActive .dijitButtonNodeActive {
  background-color: #b1c2c6;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.flatly .dijitToolbar .dijitComboButtonActive .dijitDownArrowButtonActive {
  background-color: #b1c2c6;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
/* Avoid double border between button and arrow */
.flatly .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton,
.flatly .dijitToolbar .dijitComboButtonActive .dijitDownArrowButton {
  border-left-width: 0;
}
.flatly .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton {
  padding-left: 2px;
  /* since there's no left border, don't reduce from 2px --> 1px */
}
/* toggle button checked status */
.flatly .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  margin: 0;
  /* remove margin and add a border */
  background-color: #cfd9db;
}
.flatly .dijitToolbarSeparator {
  /* separator icon in the editor sprite */
  background: url("../../icons/images/editorIconsEnabled.png");
}
/* Toolbar inside of disabled Editor */
.flatly .dijitDisabled .dijitToolbar {
  background: none;
  background-color: #ecf0f1;
  border-bottom: 1px solid #b1c2c6;
}
.flatly .dijitToolbar .dijitComboBoxDisabled .dijitArrowButtonInner {
  background-position: 0 50%;
}
