/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 * 
 * Drag and Drop on TreeNodes: (insert line on dijitTreeContent node so it'll aligned w/ target element)
 * 		.dijitTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */
.flatly .dijitTreeNode {
  zoom: 1;
  /* force layout on IE (TODO: may not be needed anymore) */
}
.flatly .dijitTreeIsRoot {
  background-image: none;
}
/* Styling for basic tree node (unhovered, unselected)
 * Also use this styling when dropping between items on the tree (in other words, don't
 * use hover effect)
 */
.flatly .dijitTreeRow,
.flatly .dijitTreeNode .dojoDndItemBefore,
.flatly .dijitTreeNode .dojoDndItemAfter {
  /* so insert line shows up on IE when dropping after a target element */
  padding: 4px 0 2px 0;
  background-color: none;
  background-color: transparent;
  background-color: rgba(171, 214, 255, 0);
  background-position: 0 0;
  background-repeat: repeat-x;
  border: solid 0 transparent;
  color: #2c3e50;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.flatly .dijitTreeRowSelected {
  background-color: #ecf0f1;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 3px 0 1px;
  border-color: #dce4ec;
  border-width: 1px 0;
  color: #2c3e50;
}
.flatly .dijitTreeRowHover {
  background-color: #cfd9db;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 3px 0 1px;
  border-color: #a3b6bb;
  border-width: 1px 0;
  color: #2c3e50;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flatly .dijitTreeRowActive {
  background-color: #b1c2c6;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 3px 0 1px;
  border-color: #dce4ec;
  border-width: 1px 0;
  color: #2c3e50;
}
.flatly .dijitTreeRowFocused {
  background-repeat: repeat;
}
/* expando (open/closed) icon */
.flatly .dijitTreeExpando {
  background-image: url("images/treeExpandImages.png");
  width: 16px;
  height: 16px;
  background-position: -35px 0;
  /* for dijitTreeExpandoOpened */
}
.dj_ie6 .flatly .dijitTreeExpando {
  background-image: url("images/treeExpandImages8bit.png");
}
.flatly .dijitTreeRowHover .dijitTreeExpandoOpened {
  background-position: -53px 0;
}
.flatly .dijitTreeExpandoClosed {
  background-position: 1px 0;
}
.flatly .dijitTreeRowHover .dijitTreeExpandoClosed {
  background-position: -17px 0;
}
.flatly .dijitTreeExpandoLeaf,
.dj_ie6 .flatly .dijitTreeExpandoLeaf {
  background-image: none;
}
.flatly .dijitTreeExpandoLoading {
  background-image: url("images/loadingAnimation.gif");
}
/* Drag and Drop on TreeNodes
 * Put insert line on dijitTreeContent node so it's aligned w/
 * (ie, indented equally with) target element, even
 * though dijitTreeRowNode is the actual "drag object"
 */
.flatly .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
  border-top: 2px solid #dce4ec;
}
.flatly .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
  border-bottom: 2px solid #dce4ec;
}
