// General

@primary-color: #ECF0F1;
@secondary-color: darken(@primary-color, 20%);
@text-color: #2C3E50;
@text-size: 13px;
@disabled-color: @secondary-color;
@error-color: #E74C3C;
@focused-color: #3498DB;
@container-background-color: #FFFFFF;

// Help colors
@minor-border-color: lighten(@border-color, 20%);
@minor-selected-color: darken(@primary-color, 10%);
@unfocused-clickable-color: lighten(@primary-color, 5%);

// Color for various arrows and buttons

@base-border-color: #DCE4EC;

// Shadows
@shadow-background: rgba(0, 0, 0, 0.5);

// Scrollbar
.scrollbar () {
  width: 8px;
  height: 8px;
}

.scrollbar-thumb() {
  background-color: darken(@border-color, 20%);
}

.scrollbar-button () {
  width: 0;
  height: 0;
  display: none;
}

.scrollbar-track () {
  background-color: @primary-color;
}

.scrollbar-corner () {
  background-color: @primary-color;
}

// Augmented and used directly by variables to create border colors for various widgets

// Background color for enabled buttons, text inputs
// @border-color: #DCE4EC;
// Border color for (enabled, unhovered) TextBox, Slider, Accordion, BorderContainer, TabContainer
// @minor-border-color: @disabled-color;
// Color of borders inside widgets: horizontal line in Calendar between weeks, around color swatches in ColorPalette, above Dialog action bar
// Border for Dialog, Menu, Tooltip.   Must also update tooltip.png (the arrow image file) to match

@border-style: solid;
@border-width: 2px;
@border-radius: 0px;

@border-color: darken(@primary-color, 20%);
@border-focused-color: @focused-color;
@border-hovered-color: darken(@border-color, 5%);

@disabled-border-color: @disabled-color;
// Border color for disabled/readonly Button, TextBox etc. widgets
@disabled-background-color: @primary-color;

// Disabled button, textbox, etc.
@disabled-text-color: darken(@secondary-color, 43);
// Text color for disabled/readonly widgets

@unselected-background-color: @secondary-color;
// Background color for unselected/unopened tab button, accordion pane, TitlePane, Menu items
@unselected-text-color: darken(@secondary-color, 65);
// Text color for unselected/unopened tab button, accordion pane, TitlePane, Menu items

// Hover of textbox, tab label, BorderContainer splitter, Calendar, etc.
@hovered-background-color: @minor-selected-color;
// Background color for hover of Button, MenuBar, Accordion pane, Calendar... anything that has a (non-white) color to start with and gets darker on hover
@hovered-text-color: @text-color;
// Used for title of select Accordion pane, label of select tab, hovered Menu item, etc.

@pressed-border-color: @base-border-color;
// During click on Calendar day, Slider up/down buttons, tab button, etc.

@pressed-background-color: @secondary-color;

// Background color while clicking on Accordion/TitlePane title bar, tab button, Calendar day, Toolbar button, Tree row.

@selected-border-color: @base-border-color;
// Selected AccordionPane, tab of nested TabContainer (but plain TabContainer is special)
@selected-background-color: @primary-color;
// Selected Accordion pane, nested tab label, Tree row
@selected-text-color: @text-color;
// title of selected Accordion pane, label of selected tab, hovered Menu item, etc.

// MenuBar, Toolbar, action bar at bottom of dialog

@bar-background-color: @primary-color;
@pane-background-color: @container-background-color;

// Popup

@popup-background: @container-background-color;
@popup-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.20);
@popup-border: 1px solid @border-color;
@popup-padding: 0px;

// Background for Dialog.   TODO: currently use for ColorPalette, maybe should change.

// Menus

@menu-background: @popup-background;
@menu-item-border: none;
@menu-item-color: @text-color;
@menu-item-hovered-border: @menu-item-border;
@menu-item-hovered-background: @minor-selected-color;
@menu-item-hovered-color: @text-color;

@menu-separator-margin: 5px;
@menu-separator-border: 1px solid @minor-border-color;

// Labels

@label-focused-outline: none;

// Buttons

@button-padding: 10px;
@button-border-radius: @border-radius;
@button-border: none;
@button-background: @primary-color;
@button-box-shadow: none;
@button-color: @text-color;

@button-hovered-padding: @button-padding;
@button-hovered-border-radius: @button-border-radius;
@button-hovered-border: @button-border;
@button-hovered-background: @minor-selected-color;
@button-hovered-box-shadow: @button-box-shadow;
@button-hovered-color: @button-color;

@button-pressed-padding: @button-padding;
@button-pressed-border-radius: @button-border-radius;
@button-pressed-border: @button-border;
@button-pressed-background: @button-hovered-background;
@button-pressed-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
@button-pressed-color: @button-color;

@button-disabled-padding: @button-padding;
@button-disabled-border-radius: @button-border-radius;
@button-disabled-border: @button-border;
@button-disabled-background: @primary-color;
@button-disabled-box-shadow: @button-box-shadow;
@button-disabled-color: @disabled-color;

@button-arrow-padding: none;
@button-combo-separate-width: 1px;
@button-combo-separate-color: darken(@button-hovered-background, 5%);

// Input widgets

@input-place-holder-color: #ABB7B7;
@input-place-holder-font-style: normal;
@input-border-color: @minor-border-color;
@input-disabled-border-color: @input-border-color;
@input-focused-border-color: @border-focused-color;
@input-hovered-border-color: darken(@input-border-color, 5%);
@input-error-border-color: @error-color;
@input-error-focused-border-color: darken(@error-color, 5%);
@input-background-color: @container-background-color;
@input-hovered-background-color: @unfocused-clickable-color;
@input-focused-background-color: @input-background-color;
@input-error-background-color: @input-background-color;
@input-disabled-background-color: @disabled-background-color;

@erroricon-background-color: @error-color;

// Padding for Textbox, Textarea, etc.

@input-padding: 6px;

// CheckBox, RadioButton

@focus-outline-color: darken(@secondary-color, 65);

// TabContainer
@nestedtab-hovered-background-color: @unfocused-clickable-color;
@nestedtab-hovered-border-color: @primary-color;
@nestedtab-selected-border-color: @selected-border-color;
@nestedtab-selected-background-color: @minor-selected-color;
@tab-disabled-background-color: @disabled-color;
// For disabled tabs of a TabContainer (not officially supported)

// Arrow buttons (stand alone, or inside ComboBox / ComboButton / Spinner / etc.

@arrowbutton-background-color: @primary-color;
@arrowbutton-hovered-background-color: @minor-selected-color;
@arrowbutton-actived-background-color: @minor-selected-color;

// Color of arrow when hovering ComboBox.   But hovering Spinner doesn't change arrow color (TODO)
@arrowbutton-pressed-background-color: @minor-selected-color;
@arrowbutton-inner-border-color: @container-background-color;
// Typically the arrows have an inner white border (a.k.a. padding) and then an outer black-ish border

// Slider
// Note: any changes here require corresponding changes in form/images/sliderThumbs.png
@slider-fullbar-background-color: @primary-color;
// Background color for part of slider bar before (to the left or below) the handle
@slider-remainingbar-background-color: @container-background-color;
// Background color for part of slider bar after (to the right or above) the handle
@slider-hovered-fullbar-background-color: @minor-selected-color;
// Background color for part of bar of hovered slider before (to the left or below) the handle
@slider-hovered-remainingbar-background-color: @container-background-color;
// Background color for part of bar of hovered slider after (to the right or above) the handle
@slider-hoveredButton-background-color: @container-background-color;
// Background color of slider increment/decrement buttons when mouse is over slider but not over the buttons
@slider-focused-fullbar-background-color: @minor-selected-color;
// Background color for part of bar of focused slider before (to the left or below) the handle
@slider-focused-remainingbar-background-color: @container-background-color;
// Background color for part of bar of focused slider after (to the right or above) the handle
@slider-button-hovered-background-color: @primary-color;
// Background color of slider increment/decrement buttons when mouse is over the buttons
@slider-button-pressed-background-color: @minor-selected-color;
// Background color of slider increment/decrement buttons while button is depressed

// Select, ComboBox

@select-dropdownitem-background-color: @container-background-color;
// Background color for items in the drop down list of a ComboBox/Select
@select-dropdownitem-hovered-background-color: @pressed-background-color;
// Background color for the hovered item in the drop down list of a ComboBox/Select
@select-matchedtext-background-color: @minor-selected-color;
// Background color of text in ComboBox drop down that matches typed in phrase

// Calendar

@calendar-background-color: @primary-color;
@calendar-hovered-background-color: @primary-color;
@calendar-currentmonth-background-color: @container-background-color;

// Background color for days of the current month
@calendar-adjacentmonth-background-color: @unfocused-clickable-color;
// Background color used for days from previous or next month
@calendar-adjacentmonth-text-color: @base-border-color;
// Text color used for days from previous or next month

@calendar-date-hovered-background: @button-hovered-background;
@calendar-date-pressed-background: @button-pressed-background;
@calendar-date-selected-background: @button-pressed-background;

@calendar-button-background: @button-background;
@calendar-button-border: @button-border;
@calendar-button-hovered-background: @button-hovered-background;
@calendar-button-hovered-border: @button-hovered-border;
@calendar-button-pressed-background: @button-pressed-background;
@calendar-button-pressed-border: @button-pressed-border;

// ProgressBar
@progressbar-border: @popup-border;

// Border color of progress bar
@progressbar-full-background-color: @minor-selected-color;
// Background color for part of progress bar indicating amount completed
@progressbar-empty-background-color: @container-background-color;
// Background color for part of progress bar indicating amount remaining
@progressbar-text-color: @text-color;
// Color of progress bar text (ex: "35%").  Must contrast with both empty and full background colors.

// TimePicker

@timepicker-minorvalue-background-color: @primary-color;
@timepicker-minorvalue-text-color: darken(@secondary-color, 20%);
@timepicker-majorvalue-background-color: @unfocused-clickable-color;
@timepicker-value-hovered-background-color: @pressed-background-color;
@timepicker-value-hovered-text-color: @hovered-text-color;
@timepicker-arrow-hovered-background-color: @minor-selected-color;

// ColorPalette

@colorpalette-background-color: @container-background-color;
@swatch-border-color: @minor-border-color;
@swatch-hovered-border-color: #000;
@swatch-selected-border-color: #000;

// Dialog
@dialog-underlay-color: @container-background-color;
// the thing that grays out the screen when a dialog is shown
@dialog-titlebar-border-color: @container-background-color;
// Inner border around the title sectionof a Dialog, inside the main border of the Dialog and the border between title and content
@dialog-titlebar-background-color: transparent;
@dialog-background-color: @primary-color;
@dialog-border-radius: 7px;

// Tooltip
@tooltip-gradient-color: fade(@primary-color, 10%);
// a little swath of color at the bottom of tooltips

// BorderContainer
@splitter-hovered-background-color: @primary-color;
// Color of splitter when user hovers it, before mouse down
@splitter-dragged-background-color: @minor-selected-color;
// Color of splitter while it's being dragged

// Toolbar
@toolbar-button-checked-background-color: @button-pressed-background;
// a toggled-on button in the toolbar
@toolbar-combobutton-hovered-unhoveredsection-background-color: spin(saturate(lighten(@primary-color, 8), 19), -29);
// when user hovers a ComboButton in a Toolbar, the other half of the button turns this color
@toolbar-button-border-radius: 2px;
// Rounded corner radius for buttons for buttons in toolbar

// DnD
@dnd-avatar-background-color: @container-background-color;
// Background color of little Dialog-type box indicating dragged items
@dnd-avatar-header-background-color: #f58383;
// Title bar for dragged items
@dnd-avatar-candrop-header-background-color: #97e68d;
// Title bar for dragged items when they can be dropped
@dnd-dropseparator-color: @base-border-color;
// Color of line indicating that user is about to drop between items A & B

// Document level
@document-text-color: #131313;
// Text color for document itself (text outside of widgets)
@document-shadedsection-background-color: @bar-background-color;
// background color used for <pre>, <code>, and table header rows
@document-border-color: @disabled-color;
// Border for <pre>, <code>, tables, etc.

// Icons, arrows, etc.
@image-arrow-sprite: "images/spriteArrows.png";
@image-calendar-arrows: "images/calendarArrows.png";
@image-calendar-arrows-ie6: "images/calendarArrows8bit.png";
@image-checkmark: "images/checkmarkNoBorder.png";
@image-checkmark-ie6: "images/checkmarkNoBorder.gif";
@image-dialog-close: "images/dialogCloseIcon.png";
@image-dialog-close-ie6: "images/dialogCloseIcon8bit.png";
@image-dnd: "images/dnd.png";
@image-editor-icons-enabled: "../../icons/images/editorIconsEnabled.png";
@image-form-button-arrows: "form/images/buttonArrows.png";
@image-form-checkbox-and-radios: "form/images/checkboxRadioButtonStates.png";
@image-form-checkbox-and-radios-ie6: "form/images/checkboxAndRadioButtons_IE6.png";
@image-form-common-arrows: "form/images/commonFormArrows.png";
@image-form-error: "form/images/error.png";
@image-form-slider-thumbs: "form/images/sliderThumbs.png";
@image-layout-tab-close: "layout/images/tabClose.png";
// [x] icon to close a tab
@image-loading-animation: "images/loadingAnimation.gif";
@image-tooltip: "images/tooltip.png";
// arrow connectors
@image-tooltip-ie6: "images/tooltip8bit.png";
// arrow connectors (8 bit)
@image-tree-expand: "images/treeExpandImages.png";
@image-tree-expand-ie6: "images/treeExpandImages8bit.png";
@image-progressbar-anim: "images/progressBarAnim.gif";

// Animation

@transition-duration: .35s;
// Default animation

// Mixins

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@value) {
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.transition-property (@value) {
  -webkit-transition-property: @value;
  -moz-transition-property: @value;
  transition-property: @value;
}

.transition-property (@value1, @value2) {
  -webkit-transition-property: @value1, @value2;
  -moz-transition-property: @value1, @value2;
  transition-property: @value1, @value2;
}

.transition-duration (@value) {
  -webkit-transition-duration: @value;
  -moz-transition-duration: @value;
  transition-duration: @value;
}

.transition-duration (@value1, @value2) {
  -webkit-transition-duration: @value1, @value2;
  -moz-transition-duration: @value1, @value2;
  transition-duration: @value1, @value2;
}

.transition-timing-function (@value) {
  -webkit-transition-timing-function: @value;
  -moz-transition-timing-function: @value;
  transition-timing-function: @value;
}

.linear-gradient (@value1, @value2) {
  // summary:
  //		Expands to browser specific background-image specifications for a linear-gradient (2 stops)
  background-image: -moz-linear-gradient(@value1, @value2); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2);
}

.linear-gradient (@value1, @value2, @value3) {
  background-image: -moz-linear-gradient(@value1, @value2, @value3); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2, @value3); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2, @value3); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2, @value3);
}

.linear-gradient (@value1, @value2, @value3, @value4) {
  background-image: -moz-linear-gradient(@value1, @value2, @value3, @value4); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2, @value3, @value4); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2, @value3, @value4); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2, @value3, @value4);
}

.linear-gradient (@value1, @value2, @value3, @value4, @value5) {
  background-image: -moz-linear-gradient(@value1, @value2, @value3, @value4, @value5); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2, @value3, @value4, @value5); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2, @value3, @value4, @value5); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2, @value3, @value4, @value5);
}

.linear-gradient (@value1, @value2, @value3, @value4, @value5, @value6) {
  background-image: -moz-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6);
}

.linear-gradient (@value1, @value2, @value3, @value4, @value5, @value6, @value7) {
  background-image: -moz-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6, @value7); // FF3.6 - FF15 (FF16+ supports linear-gradient)
  background-image: -webkit-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6, @value7); // Chrome10+, Safari5.1+
  background-image: -o-linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6, @value7); // Opera 11.10+
  background-image: linear-gradient(@value1, @value2, @value3, @value4, @value5, @value6, @value7);
}

.alpha-white-gradient (@opacity1, @stop1, @opacity2, @stop2) {
  // summary:
  //		For setting up white background-image with variable transparency.
  // example:
  //		Gradient starts at top (0%) with 30% opacity, and then ends at bottom (100%) with full transparency
  //		|	.alpha-white-gradient(0.3, 0%, 0, 100%)
  //
  .linear-gradient(rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2);
}

.alpha-white-gradient (@start, @opacity1, @stop1, @opacity2, @stop2) {
  .linear-gradient(@start, rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2);
}

.alpha-white-gradient (@opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3) {
  .linear-gradient(rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3);
}

.alpha-white-gradient (@start, @opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3) {
  .linear-gradient(@start, rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3);
}

.alpha-white-gradient (@opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3, @opacity4, @stop4) {
  .linear-gradient(rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3, rgba(255, 255, 255, @opacity4) @stop4);
}

.alpha-white-gradient (@start, @opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3, @opacity4, @stop4) {
  .linear-gradient(@start, rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3, rgba(255, 255, 255, @opacity4) @stop4);
}

.alpha-white-gradient (@start, @opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3, @opacity4, @stop4, @opacity5, @stop5) {
  .linear-gradient(@start, rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3, rgba(255, 255, 255, @opacity4) @stop4, rgba(255, 255, 255, @opacity5) @stop5);
}

.alpha-white-gradient (@start, @opacity1, @stop1, @opacity2, @stop2, @opacity3, @stop3, @opacity4, @stop4, @opacity5, @stop5, @opacity6, @stop6) {
  .linear-gradient(@start, rgba(255, 255, 255,@opacity1) @stop1, rgba(255, 255, 255,@opacity2) @stop2, rgba(255, 255, 255, @opacity3) @stop3, rgba(255, 255, 255, @opacity4) @stop4, rgba(255, 255, 255, @opacity5) @stop5, rgba(255, 255, 255, @opacity6) @stop6);
}

.gradient-and-filter (@color, @fade1, @fade2) {
  // summary:
  //		Sets up a background color with a vertical gradient.
  //		In order to make transitions work properly on mozilla and webkit, this is done by combining
  //		a background-color which will be changed based on state (ex: hover) with a constant
  //		white alpha-transparency background-image.  On IE it creates a DXImageTransform filter.
  // @color:
  //		The color
  // @fade1:
  //		The percent to fade at the top
  // @fade2:
  //		The percent to fade at the bottom
  background-color: @color; // the base color
  .linear-gradient(fadeout(#fff, 100-@fade1), fadeout(#fff, 100-@fade2));
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=" lighten(@color, @fade1) ~", endColorstr=" lighten(@color, @fade2) ~")"; // IE
}

.horizontal-gradient-and-filter (@color, @fade1, @fade2) {
  // summary:
  //		Sets up a background color with a horizontal gradient.
  //		In order to make transitions work properly on mozilla and webkit, this is done by combining
  //		a background-color which will be changed based on state (ex: hover) with a constant
  //		white alpha-transparency background-image.  On IE it creates a DXImageTransform filter.
  // @color:
  //		The color
  // @fade1:
  //		The percent to fade at the top
  // @fade2:
  //		The percent to fade at the bottom
  background-color: @color; // the base color
  .linear-gradient(left, fadeout(#fff, 100-@fade1), fadeout(#fff, 100-@fade2));
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=" lighten(@color, @fade1) ~", endColorstr=" lighten(@color, @fade2) ~"gradientType=1)"; // IE
}

// Mixins defining gradients

.textbox-background-image () {
  // summary:
  //		Background image used for hovered TextBoxes and similar controls.
  //		It's just a small inset shadow below the top border (inside of the TextBox).
  // .linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}

.standard-gradient (@pathToRoot: "") {
  // summary:
  //		Light to dark background-image used by widgets with short height (~16px) including:
  //			- MenuBar, and hovered MenuItem/MenuBarItem
  //			- arrow icon wrapper for Select, ComboBox, Spinner
  //			- Toolbar and hovered Toolbar buttons
  //			- TitlePane title bar, AccordionContainer title bar, Dialog title bar

  // Fallback for IE
  background-image: url("@{pathToRoot}images/standardGradient.png");
  background-repeat: repeat-x;

  // CSS gradient for other browsers
  .alpha-white-gradient(0.7, 0%, 0, 100%);

  // IE6 can't handle a background-image with transparency and a background-color; the color is blocked out
  _background-image: none;
}

.active-gradient (@pathToRoot: "") {
  // summary:
  //		Light to dark background-image with an inset gray shadow at the top,
  //		used by widgets when they are active (ie: mousedown) or selected, including:
  //			- active MenuItem/MenuBarItem
  //			- arrow icon wrapper for Select, ComboBox, Spinner when active or drop down is open
  //			- active Toolbar buttons
  //			- active TitlePane title bar, AccordionContainer title bar

  // Fallback for IE
  background-image: url("@{pathToRoot}images/activeGradient.png");
  background-repeat: repeat-x;

  // CSS gradient for other browsers
  .linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);

  // IE6 can't handle a background-image with transparency and a background-color; the color is blocked out
  _background-image: none;
}
