<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title|default('Simple finance') }}</title>

    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/layout.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/dijit/Dijit.css') }}"/>
    <script>
        dojoConfig = {
            baseUrl : "/bundles/app/js",
            packages: [
                {name: 'dojo', location: '/bundles/app/js/dojo'},
                {name: 'dijit', location: '/bundles/app/js/dijit'},
                {name: 'dojox', location: '/bundles/app/js/dojox'}
            ],
            async   : true
        };
    </script>
    <script src="{{ asset('bundles/app/js/spin.js') }}"></script>
    <script src="{{ asset('bundles/app/js/dojo.js') }}"></script>

</head>
<body>
<div class="container">
    <div id="menu" class="menu">
        <div class="menu-left">
            {% block menuLeft %}{% endblock %}
        </div>
        <div class="menu-right">
            {% block menuRight %}{% endblock %}
        </div>
    </div>
    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="wait" class="wait" style="display:none;">
    <script>new Spinner({lines: 13, length: 10, width: 2, radius: 10, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 10, shadow: false, hwaccel: true, className: 'wait-spinner', zIndex: 2e9, top: '50%', left: '50%'}).spin(document.getElementById('wait'));</script>
</div>
</body>
</html>