/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
@import "../variables";

.dijitDropDownButton .dijitArrowButtonInner {
  background: none !important;
}

.dijitDropDownButton .dijitArrowButtonInner:before {
  .fa-font !important;
  content: "\f0d7";
}

.dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
  //.transition-property(background-color);
  .transition-duration(@transition-duration);
}

.dijitButtonContents {
  outline: none;
  border: none !important;
  //display: block;
}

/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
.dijitButton .dijitButtonNode,
.dijitDropDownButton .dijitButtonNode,
.dijitComboButton .dijitButtonNode,
.dijitToggleButton .dijitButtonNode {
  border: @dijit-button-border;
  padding: @dijit-button-padding;
  color: @dijit-button-color;
  background: @dijit-button-background;
  .border-radius(@dijit-button-border-radius);
  .box-shadow(@dijit-button-box-shadow);
  .transition-duration(@transition-duration);
}

.dijitComboButton .dijitArrowButton {
  //border-left-width: 0;
  border-left: @dijit-button-combo-separate-width solid transparent;
  // padding: @button-arrow-padding /* TODO: still needed? */
}

.dijitComboButtonHover .dijitArrowButton, .dijitComboButtonActive .dijitArrowButton {
  border-left: @dijit-button-combo-separate-width solid @dijit-button-combo-separate-color !important;
}

/*arrow styles for down/up/left/right directions*/
.dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background: url("/bundles/app/css/dijit/form/images/buttonArrows.png") no-repeat -51px 53% !important;
}

.dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}

.dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}

.dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}

.dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}

.dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}

.dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}

.dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}

.dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}

/* hover status */
.dijitButtonHover .dijitButtonNode,
.dijitDropDownButtonHover .dijitButtonNode,
.dijitComboButton .dijitButtonNodeHover,
.dijitComboButton .dijitDownArrowButtonHover,
.dijitToggleButtonHover .dijitButtonNode {
  border: @dijit-button-hovered-border;
  padding: @dijit-button-hovered-padding;
  color: @dijit-button-hovered-color;
  background: @dijit-button-hovered-background;
  .border-radius(@dijit-button-hovered-border-radius);
  .box-shadow(@dijit-button-hovered-box-shadow);
  .transition-duration(@transition-duration);
}

/* active, checked status */
.dijitButtonActive .dijitButtonNode,
.dijitDropDownButtonActive .dijitButtonNode,
.dijitComboButtonActive .dijitButtonNode,
.dijitToggleButtonActive .dijitButtonNode,
.dijitToggleButtonChecked .dijitButtonNode {
  border: @dijit-button-pressed-border;
  padding: @dijit-button-pressed-padding;
  color: @dijit-button-pressed-color;
  background: @dijit-button-pressed-background;
  .border-radius(@dijit-button-pressed-border-radius);
  .box-shadow(@dijit-button-pressed-box-shadow);
  .transition-duration(@transition-duration);
}

/* disabled status */
.dijitButtonDisabled,
.dijitDropDownButtonDisabled,
.dijitComboButtonDisabled,
.dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}

.dijitButtonDisabled .dijitButtonNode,
.dijitDropDownButtonDisabled .dijitButtonNode,
.dijitComboButtonDisabled .dijitButtonNode,
.dijitToggleButtonDisabled .dijitButtonNode {
  border: @dijit-button-disabled-border;
  padding: @dijit-button-disabled-padding;
  color: @dijit-button-disabled-color;
  background: @dijit-button-disabled-background;
  .border-radius(@dijit-button-disabled-border-radius);
  .box-shadow(@dijit-button-disabled-box-shadow);
  .transition-duration(@transition-duration);
}

.dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}

/* for ComboButton */
table.dijitComboButton {
  border-collapse: separate; /* override dijit.css so that ComboBox rounded corners work */
}

.dijitComboButton .dijitStretch {
  .border-radius(@dijit-button-border-radius 0 0 @dijit-button-border-radius);
}

.dijitComboButton .dijitArrowButton {
  .border-radius(0 @dijit-button-border-radius @dijit-button-border-radius 0);
  outline: none;
}

.dijitButtonBlue .dijitButtonNode {
  background: @dijit-button-blue;
  color: #FFFFFF;
}

.dijitButtonRed .dijitButtonNode {
  background: @dijit-button-red;
  color: #FFFFFF;
}

.dijitButtonGreen .dijitButtonNode {
  background: @dijit-button-green;
  color: #FFFFFF;
}

.dijitButtonYellow .dijitButtonNode {
  background: @dijit-button-yellow;
  color: #FFFFFF;
}

.dijitButtonBlue.dijitButtonDisabled .dijitButtonNode,
.dijitButtonRed.dijitButtonDisabled .dijitButtonNode,
.dijitButtonGreen.dijitButtonDisabled .dijitButtonNode,
.dijitButtonYellow.dijitButtonDisabled .dijitButtonNode, {
  border: @dijit-button-disabled-border;
  padding: @dijit-button-disabled-padding;
  color: @dijit-button-disabled-color;
  background: @dijit-button-disabled-background;
  .border-radius(@dijit-button-disabled-border-radius);
  .box-shadow(@dijit-button-disabled-box-shadow);
  .transition-duration(@transition-duration);
}