/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
.dijitDropDownButton .dijitArrowButtonInner {
  background: none !important;
}
.dijitDropDownButton .dijitArrowButtonInner:before {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transform: translate(0, 0) !important;
  content: "\f0d7";
}
.dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitButtonContents {
  outline: none;
  border: none !important;
}
/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
.dijitButton .dijitButtonNode,
.dijitDropDownButton .dijitButtonNode,
.dijitComboButton .dijitButtonNode,
.dijitToggleButton .dijitButtonNode {
  border: 1px solid #cfd8dc;
  padding: 10px;
  color: #78909c;
  background: #fafafa;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitComboButton .dijitArrowButton {
  border-left: 1px solid transparent;
}
.dijitComboButtonHover .dijitArrowButton,
.dijitComboButtonActive .dijitArrowButton {
  border-left: 1px solid #e1e1e1 !important;
}
/*arrow styles for down/up/left/right directions*/
.dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background: url("/bundles/app/css/dijit/form/images/buttonArrows.png") no-repeat -51px 53% !important;
}
.dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
.dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
.dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
.dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
.dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
.dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
.dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
.dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
/* hover status */
.dijitButtonHover .dijitButtonNode,
.dijitDropDownButtonHover .dijitButtonNode,
.dijitComboButton .dijitButtonNodeHover,
.dijitComboButton .dijitDownArrowButtonHover,
.dijitToggleButtonHover .dijitButtonNode {
  border: 1px solid #cfd8dc;
  padding: 10px;
  color: #213140;
  background: #eeeeee;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* active, checked status */
.dijitButtonActive .dijitButtonNode,
.dijitDropDownButtonActive .dijitButtonNode,
.dijitComboButtonActive .dijitButtonNode,
.dijitToggleButtonActive .dijitButtonNode,
.dijitToggleButtonChecked .dijitButtonNode {
  border: 1px solid #cfd8dc;
  padding: 10px;
  color: #213140;
  background: #eeeeee;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* disabled status */
.dijitButtonDisabled,
.dijitDropDownButtonDisabled,
.dijitComboButtonDisabled,
.dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
.dijitButtonDisabled .dijitButtonNode,
.dijitDropDownButtonDisabled .dijitButtonNode,
.dijitComboButtonDisabled .dijitButtonNode,
.dijitToggleButtonDisabled .dijitButtonNode {
  border: 1px solid #cfd8dc;
  padding: 10px;
  color: #b1c2c6;
  background: #ecf0f1;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
/* for ComboButton */
table.dijitComboButton {
  border-collapse: separate;
  /* override dijit.css so that ComboBox rounded corners work */
}
.dijitComboButton .dijitStretch {
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.dijitComboButton .dijitArrowButton {
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  outline: none;
}
.dijitButtonBlue .dijitButtonNode {
  background: #29b6f6;
  color: #FFFFFF;
}
.dijitButtonRed .dijitButtonNode {
  background: #ef5350;
  color: #FFFFFF;
}
.dijitButtonGreen .dijitButtonNode {
  background: #66bb6a;
  color: #FFFFFF;
}
.dijitButtonYellow .dijitButtonNode {
  background: #ffeb3b;
  color: #FFFFFF;
}
.dijitButtonBlue.dijitButtonDisabled .dijitButtonNode,
.dijitButtonRed.dijitButtonDisabled .dijitButtonNode,
.dijitButtonGreen.dijitButtonDisabled .dijitButtonNode,
.dijitButtonYellow.dijitButtonDisabled .dijitButtonNode {
  border: 1px solid #cfd8dc;
  padding: 10px;
  color: #b1c2c6;
  background: #ecf0f1;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
