@import "../variables";

/* Combo Button */

.dijitComboButtonRtl .dijitStretch {
  .border-radius(0 @dijit-button-border-radius @dijit-button-border-radius 0);
}

.dijitComboButtonRtl .dijitArrowButton {
  .border-radius(@dijit-button-border-radius 0 0  @dijit-button-border-radius);
  padding: 3px 0 4px;
  border-left-width: 1px;
  border-right-width: 0;
}

/* End Combo Button */