/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */
.dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("/bundles/app/css/dijit/images/checkmarkNoBorder.png");
}
.dj_ie6 .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkmarkNoBorder.gif");
}
.dijitCheckBox,
.dijitCheckBoxIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxRadioButtonStates.png");
  /* checkbox sprite image */
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  margin: 3px 4px 8px 4px;
  padding: 0;
}
.dj_ie6 .dijitCheckBox,
.dj_ie6 .dijitCheckBoxIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxAndRadioButtons_IE6.png");
  /* checkbox sprite image */
}
.dijitCheckBox,
.dijitToggleButton .dijitCheckBoxIcon {
  /* unchecked */
  background-position: -15px;
}
.dijitCheckBoxChecked,
.dijitToggleButtonChecked .dijitCheckBoxIcon {
  /* checked */
  background-position: 0;
}
.dijitCheckBoxDisabled {
  /* disabled */
  background-position: -75px;
}
.dijitCheckBoxCheckedDisabled {
  /* disabled but checked */
  background-position: -60px;
}
.dijitCheckBoxHover {
  /* hovering over an unchecked enabled checkbox */
  background-position: -45px;
}
.dijitCheckBoxCheckedHover {
  /* hovering over an checked enabled checkbox */
  background-position: -30px;
}
