/* claro/form/Common.css */
/*========================= common css =========================*/
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
.dijitTextBox,
.dijitInputInner {
  color: #2c3e50 !important;
}
.dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #e74c3c;
  background-position: top center;
  border: solid #e74c3c 0;
  width: 9px;
}
.dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}
.dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent;
  /* so the INPUT doesn't obscure the border in rtl+a11y */
}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.dijitTextArea,
.dijitInputField .dijitPlaceHolder {
  padding: 6px;
  color: #78909c;
  font-style: normal;
}
.dijitSelect .dijitInputField,
.dijitTextBox .dijitInputField {
  padding: 5px 6px;
}
.dj_gecko .dijitTextBox .dijitInputInner,
.dj_webkit .dijitTextBox .dijitInputInner {
  padding-left: 5px;
  padding-right: 5px;
}
.dijitSelect,
.dijitSelect .dijitButtonContents,
.dijitTextBox,
.dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
  border: 2px solid #addaaf;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitSelect,
.dijitTextBox {
  background-color: #ffffff;
}
/* hover */
.dijitSelectHover,
.dijitSelectHover .dijitButtonContents,
.dijitTextBoxHover,
.dijitTextBoxHover .dijitButtonNode {
  border-color: #9bd39e;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitTextBoxHover {
  background-color: #fbfcfc;
}
/* error state */
.dijitSelectError,
.dijitSelectError .dijitButtonContents,
.dijitTextBoxError,
.dijitTextBoxError .dijitButtonNode {
  border-color: #e74c3c;
}
/* focused state */
.dijitSelectFocused,
.dijitSelectFocused .dijitButtonContents,
.dijitTextBoxFocused,
.dijitTextBoxFocused .dijitButtonNode {
  border-color: #66bb6a;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitTextBoxFocused {
  background-color: #ffffff;
}
.dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.dijitSelectErrorFocused,
.dijitSelectErrorFocused .dijitButtonContents,
.dijitTextBoxErrorFocused,
.dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #e43725;
}
/* disabled state */
.dijitSelectDisabled,
.dijitSelectDisabled .dijitButtonContents,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitButtonNode {
  border-color: #addaaf;
}
.dijitSelectDisabled,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitInputContainer {
  background-color: #ecf0f1;
  background-image: none;
}
.dijitSelectDisabled,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitInputInner {
  color: #42555a;
}
.dj_webkit .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #37474b;
}
.dj_webkit textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: #000000;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
.dijitSelect .dijitArrowButtonInner,
.dijitComboBox .dijitArrowButtonInner {
  background-image: url("/bundles/app/css/dijit/form/images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
}
.dijitComboBox .dijitArrowButtonInner {
  border: 1px solid transparent;
}
.dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.dijitSelectLabel,
.dijitTextBox .dijitInputInner,
.dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.dijitComboBox .dijitButtonNode {
  background-color: #ecf0f1;
}
.dijitComboBox .dijitDownArrowButton {
  border: none;
  padding-left: 1px;
}
.dijitComboBox .dijitDownArrowButton .dijitArrowButtonInner {
  line-height: 17px;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.dijitComboBoxOpenOnClickHover .dijitButtonNode,
.dijitComboBox .dijitDownArrowButtonHover,
.dijitComboBoxFocused .dijitArrowButton {
  background-color: #cfd9db;
}
.dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* Arrow Button change when drop down is open */
.dijitComboBox .dijitHasDropDownOpen {
  background-color: #b1c2c6;
  padding: 1px;
}
.dj_iequirks .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}
.dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
   * ( .dijitComboBoxDisabled .dijitArrowButtonInner) */
  background-position: 0 50%;
  background-color: #ecf0f1;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_borderbox .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
