/* claro/form/Common.css */
/*========================= common css =========================*/
@import "../variables";

/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */

.dijitTextBox,
.dijitInputInner {
  // .dijitInputInner selector needed for ValidationTextBox on IE6 because <input> doesn't inherit
  // the color setting from the ancestor div.dijitTextBox
  color: @dijit-font-color !important;
}

.dijitValidationTextBoxError .dijitValidationContainer {
  background-color: @dijit-erroricon-background-color;
  //background-image: url("/bundles/app/css/dijit/form/images/error.png");
  background-position: top center;
  border: solid @dijit-erroricon-background-color 0;
  width: 9px;
}

.dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}

.dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent; /* so the INPUT doesn't obscure the border in rtl+a11y */
}

/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.dijitTextArea,
.dijitInputField .dijitPlaceHolder {
  padding: @dijit-input-padding;
  color: @dijit-input-place-holder-color;
  font-style: @dijit-input-place-holder-font-style;
}

.dijitSelect .dijitInputField,
.dijitTextBox .dijitInputField {
  // Subtract 1px from top/bottom because we add 1px to other nodes, see rules below.
  // Although we are theoretically only adding 1px to top/bottom browsers seem to pad inputs by 1px on left/right,
  // although that varies by so compensate for that too.
  padding: @dijit-input-padding - 1px  @dijit-input-padding;
}

.dj_gecko .dijitTextBox .dijitInputInner,
.dj_webkit .dijitTextBox .dijitInputInner {
  // Although we are theoretically only adding 1px to top/bottom, some browsers seem to pad inputs by 1px on left/right,
  // so compensate for that too.
  padding-left: @dijit-input-padding - 1px;
  padding-right: @dijit-input-padding - 1px;
}

.dijitSelect,
.dijitSelect .dijitButtonContents,
.dijitTextBox,
.dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */
  border: @dijit-border-width @dijit-border-style @dijit-input-border-color;
  .border-radius(@dijit-border-radius);
  .transition-duration(@transition-duration);
}

.dijitSelect,
.dijitTextBox {
  background-color: @dijit-input-background-color;
}

/* hover */
.dijitSelectHover,
.dijitSelectHover .dijitButtonContents,
.dijitTextBoxHover,
.dijitTextBoxHover .dijitButtonNode {
  border-color: @dijit-input-hovered-border-color;
  .transition-duration(@transition-duration);
}

.dijitTextBoxHover {
  background-color: @dijit-input-hovered-background-color;
}

/* error state */
.dijitSelectError,
.dijitSelectError .dijitButtonContents,
.dijitTextBoxError,
.dijitTextBoxError .dijitButtonNode {
  border-color: @dijit-input-error-border-color;
}

/* focused state */
.dijitSelectFocused,
.dijitSelectFocused .dijitButtonContents,
.dijitTextBoxFocused,
.dijitTextBoxFocused .dijitButtonNode {
  border-color: @dijit-input-focused-border-color;
  .transition-duration(@transition-duration);
}

.dijitTextBoxFocused {
  background-color: @dijit-input-focused-background-color;
}

.dijitTextBoxFocused .dijitInputContainer {
  background: @dijit-input-focused-background-color;
}

.dijitSelectErrorFocused,
.dijitSelectErrorFocused .dijitButtonContents,
.dijitTextBoxErrorFocused,
.dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: @dijit-input-error-focused-border-color;
}

/* disabled state */
.dijitSelectDisabled,
.dijitSelectDisabled .dijitButtonContents,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitButtonNode {
  border-color: @dijit-input-disabled-border-color;
}

.dijitSelectDisabled,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitInputContainer {
  background-color: @dijit-input-disabled-background-color;
  background-image: none;
}

.dijitSelectDisabled,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitInputInner {
  color: @dijit-disabled-text-color;
}

.dj_webkit .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: darken(@dijit-disabled-text-color, 5%)
}

.dj_webkit textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */
  color: darken(@dijit-disabled-text-color, 40%)
}

/*========================= for special widgets =========================*/

/* Input boxes with an arrow (for a drop down) */

.dijitSelect .dijitArrowButtonInner,
.dijitComboBox .dijitArrowButtonInner {
  background-image: url("/bundles/app/css/dijit/form/images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
}

.dijitComboBox .dijitArrowButtonInner {
  border: 1px solid transparent; // white gutter around the arrow button
}

.dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}

.dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}

/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.dijitSelectLabel,
.dijitTextBox .dijitInputInner,
.dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}

.dijitComboBox .dijitButtonNode {
  background-color: @dijit-arrowbutton-background-color;
}

.dijitComboBox .dijitDownArrowButton {
  border: none;
  padding-left: 1px;
}

.dijitComboBox .dijitDownArrowButton .dijitArrowButtonInner {
  line-height: 17px;
}

/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.dijitComboBoxOpenOnClickHover .dijitButtonNode,
.dijitComboBox .dijitDownArrowButtonHover,
.dijitComboBoxFocused .dijitArrowButton {
  background-color: @dijit-arrowbutton-hovered-background-color;
}

.dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}

/* Arrow Button change when drop down is open */
.dijitComboBox .dijitHasDropDownOpen {
  // .dijitHasDropDown is on dijitArrowButton node
  background-color: @dijit-pressed-background-color;
  padding: 1px; // Since no border on arrow button (see rule below)
}

.dj_iequirks .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}

.dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}

/* disabled state */
div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
   * ( .dijitComboBoxDisabled .dijitArrowButtonInner) */
  background-position: 0 50%;
  background-color: @dijit-disabled-background-color;
}

/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}

.dj_borderbox .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px; // quirks mode means border-box sizing, so 18px with the border (same as 16px without border)
}

.dj_borderbox .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px; // when no border, then back to 16px just like content-box sizing
}
