/* NumberSpinner - namespace "dijitSpinner"
 * 
 * Styling NumberSpinner mainly includes:
 * 
 * 1. Arrows
 * 		Outer containers: .dijitSpinnerButtonContainer|.dijitSpinnerButtonInner  - for border, padding and position
 * 		Arrows: .dijitArrowButton|.dijitUpArrowButton.|dijitDownArrowButton
 * 		Inner container: .dijitArrowButtonInner - for border, padding, width|height and background image
 * 
 * 2. Hover state
 * 		.dijitUpArrowButtonHover|.dijitDownArrowButtonHover .*  - for background color|image
 * 
 * 3. Active state
 * 		.dijitUpArrowButtonActive|.dijitDownArrowButtonActive .*  - for border, padding, margin and background color|image
 * 
 * 4. Focused state
 * 		.dijitSpinnerFocused .* - for background color|image
 * 
 * 5. Disabled state
 * 		.dijitSpinnerDisabled .* - for background color|image
 */
.dijitSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0 2px;
}
.dijitSpinnerButtonContainer .dijitSpinnerButtonInner {
  border-width: 1px 0;
  /* reserve space to match the claro combobox button border with border and not padding to make IE happier */
  border-style: solid none;
}
.dijitSpinnerButtonContainer .dijitButtonNode {
  border: none !important;
}
/* button */
.dijitSpinner .dijitArrowButton {
  width: auto;
  background-color: #ecf0f1;
  overflow: hidden;
}
.dj_iequirks .dijitSpinner .dijitArrowButton {
  overflow: visible;
  /* 0 height w/o this */
}
.dijitSpinner .dijitSpinnerButtonInner {
  width: 15px;
}
/* up & down button icons */
.dijitSpinner .dijitArrowButtonInner {
  background-image: url("/bundles/app/css/dijit/form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 19px;
  /* for up arrow */
  background-position: -139px center;
  /* override button.css (TODO: move to Common.css since ComboBox needs this too) */
  display: block;
}
.dj_iequirks .dijitSpinner .dijitArrowButtonInner,
.dj_ie6 .dijitSpinner .dijitArrowButtonInner,
.dj_ie7 .dijitSpinner .dijitArrowButtonInner,
.dj_ie8 .dijitSpinner .dijitArrowButtonInner {
  margin-top: 0;
  /* since its bottom aligned */
}
.dj_iequirks .dijitSpinner .dijitArrowButtonInner {
  width: 19px;
}
.dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: -34px;
}
.dijitSpinner .dijitArrowButtonInner .dijitInputField {
  padding: 0;
}
/** hover & focused status **/
.dijitUpArrowButtonActive,
.dijitDownArrowButtonActive {
  background-color: #cfd9db;
}
.dijitSpinner .dijitUpArrowButtonHover,
.dijitSpinner .dijitDownArrowButtonHover,
.dijitSpinnerFocused .dijitArrowButton {
  background-color: #cfd9db;
}
.dijitSpinner .dijitUpArrowButtonHover .dijitArrowButtonInner {
  background-position: -174px;
}
.dijitSpinner .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -69px;
}
.dijitSpinnerFocused {
  background-color: #ffffff;
  background-image: none;
}
/* mouse down status */
.dijitSpinner .dijitDownArrowButtonActive,
.dijitSpinner .dijitUpArrowButtonActive {
  background-color: #cfd9db;
}
.dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner,
.dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  /* hide inner border while button is depressed */
  border: 0;
}
.dijitSpinner .dijitUpArrowButtonActive .dijitArrowButtonInner {
  background-position: -174px;
}
.dijitSpinner .dijitDownArrowButtonActive .dijitArrowButtonInner {
  background-position: -69px;
}
/* disabled */
.dijitSpinnerDisabled .dijitArrowButtonInner {
  background-color: #ecf0f1;
}
.dijitSpinnerDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -104px;
}
.dijitSpinnerDisabled .dijitDownArrowButton .dijitArrowButtonInner {
  background-position: 1px;
}
/** hacks for browsers **/
/* for IE 7, when div is enlarged, 
 * should be no empty space between dijitInputLayoutContainer and dijitSpinner*/
.dj_ie7 .dijitSpinner {
  overflow: visible;
}
