/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitRadioChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled - for background image
 */
.dijitToggleButton .dijitRadio,
.dijitToggleButton .dijitRadioIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxRadioButtonStates.png");
}
.dj_ie6 .dijitToggleButton .dijitRadio,
.dj_ie6 .dijitToggleButton .dijitRadioIcon {
  background-image: url("/bundles/app/css/dijit/form/images/checkboxAndRadioButtons_IE6.png");
}
.dijitRadio,
.dijitRadioIcon {
  /* inside a toggle button */
  background-image: url("/bundles/app/css/dijit/form/images/checkboxRadioButtonStates.png");
  /* checkbox sprite image */
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 2px 0 0;
  padding: 0;
}
.dj_ie6 .dijitRadio,
.dj_ie6 .dijitRadioIcon {
  /* inside a toggle button */
  background-image: url("/bundles/app/css/dijit/form/images/checkboxAndRadioButtons_IE6.png");
  /* checkbox sprite image */
}
.dijitRadio {
  /* unselected */
  background-position: -105px;
}
.dijitToggleButton .dijitRadioIcon {
  /* unselected */
  background-position: -107px;
}
.dijitRadioDisabled {
  /* unselected and disabled */
  background-position: -165px;
}
.dijitRadioHover {
  /* hovering over an unselected enabled radio button */
  background-position: -135px;
}
.dijitRadioChecked {
  background-position: -90px;
}
.dijitToggleButtonChecked .dijitRadioIcon {
  background-position: -92px;
}
.dijitRadioCheckedHover {
  background-position: -120px;
}
.dijitRadioCheckedDisabled {
  /* selected but disabled */
  background-position: -150px;
}
