/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */
.dijitSelect {
  outline: none;
  display: inline-block;
}
.dijitSelect .dijitButtonContents {
  width: 100%;
}
/* normal status */
.dijitSelect .dijitArrowButtonContainer {
  border: 1px solid transparent;
}
.dijitSelect .dijitArrowButton {
  padding: 0;
  background-color: #ecf0f1;
}
.dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  height: 16px;
  border-left: 1px solid transparent;
}
/* hover status */
.dijitSelectHover {
  background-color: #fbfcfc;
  background-repeat: repeat-x;
}
.dijitSelectHover .dijitArrowButton {
  background-color: #cfd9db;
}
.dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* focused status */
.dijitSelectFocused .dijitArrowButton {
  background-color: #cfd9db;
}
.dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* disable status */
.dijitSelectDisabled {
  border-color: #addaaf;
  background-color: #ecf0f1;
  background-image: none;
  color: #42555a;
}
.dijitSelectDisabled .dijitArrowButton {
  background-color: #ecf0f1;
}
.dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
/* Dropdown menu style for select */
.dijitSelectMenu td.dijitMenuItemIconCell,
.dijitSelectMenu td.dijitMenuArrowCell {
  /* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
.dijitSelectMenu td.dijitMenuItemLabel {
  /* line up menu text with text in select box (in LTR and RTL modes) */
  padding: 6px;
}
.dijitSelectMenu .dijitMenuSeparatorTop {
  border-bottom: 1px solid #66bb6a;
}
