/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */
@import "../variables";

.dijitSelect {
  outline: none;
  display: inline-block;
}

.dijitSelect .dijitButtonContents {
  width: 100%;
}

/* normal status */
.dijitSelect .dijitArrowButtonContainer {
  border: 1px solid transparent;
}

.dijitSelect .dijitArrowButton {
  padding: 0;
  background-color: @dijit-arrowbutton-background-color;
}

.dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  height: 16px;
  border-left: 1px solid transparent;
}

/* hover status */
.dijitSelectHover {
  background-color: @dijit-input-hovered-background-color;
  background-repeat: repeat-x;
}

.dijitSelectHover .dijitArrowButton {
  background-color: @dijit-arrowbutton-hovered-background-color;
}

.dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}

/* focused status */
.dijitSelectFocused .dijitArrowButton {
  background-color: @dijit-minor-selected-color; // TODO.  Mailed Jason about inconsistent ComboBox/Spinner behavior.
}

.dijitSelectFocused .dijitArrowButton {
  //border: none;
  //padding: 1px;
}

.dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}

/* disable status */
.dijitSelectDisabled {
  border-color: @dijit-minor-border-color;
  background-color: @dijit-disabled-background-color;
  background-image: none;
  color: @dijit-disabled-text-color;
}

.dijitSelectDisabled .dijitArrowButton {
  background-color: @dijit-primary-color;
}

.dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-position: 0 53%
}

/* Dropdown menu style for select */
.dijitSelectMenu td.dijitMenuItemIconCell,
.dijitSelectMenu td.dijitMenuArrowCell {
  /* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}

.dijitSelectMenu td.dijitMenuItemLabel {
  /* line up menu text with text in select box (in LTR and RTL modes) */
  padding: @dijit-input-padding;
}

.dijitSelectMenu .dijitMenuSeparatorTop {
  border-bottom: 1px solid @dijit-input-focused-border-color;
}
