.dijitSliderRtl .dijitSliderProgressBarH,
.dijitSliderRtl .dijitSliderRemainingBarH,
.dijitSliderRtl .dijitSliderLeftBumper,
.dijitSliderRtl .dijitSliderRightBumper,
.dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.dijitSliderRtl .dijitSliderProgressBarV,
.dijitSliderRtl .dijitSliderRemainingBarV,
.dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
