/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */
@import "../variables";

.dijitSliderBar {
  border-style: solid;
  outline: 1px;
}

.dijitSliderFocused .dijitSliderBar {
  border-color: @dijit-input-focused-border-color;
}

.dijitSliderHover .dijitSliderBar {
  border-color: @dijit-border-hovered-color;
}

.dijitSliderDisabled .dijitSliderBar {
  background-image: none;
  border-color: @dijit-disabled-border-color;
}

.dijitRuleLabelsContainer {
  color: @dijit-font-color;
}

/* Horizontal Slider */

.dijitRuleLabelsContainerH {
  padding: 2px 0;
}

.dijitSlider .dijitSliderProgressBarH,
.dijitSlider .dijitSliderLeftBumper {
  border-color: @dijit-border-color;
  background-color: @dijit-slider-fullbar-background-color;
}

.dijitSlider .dijitSliderRemainingBarH,
.dijitSlider .dijitSliderRightBumper {
  border-color: @dijit-border-color;
  background-color: @dijit-slider-remainingbar-background-color;
}

.dijitSliderRightBumper {
  border-right: solid 1px @dijit-border-color;
}

.dijitSliderLeftBumper {
  border-left: solid 1px @dijit-border-color;
}

.dijitSliderHover .dijitSliderProgressBarH,
.dijitSliderHover .dijitSliderLeftBumper {
  background-color: @dijit-slider-hovered-fullbar-background-color;
  border-color: @dijit-border-hovered-color;
}

.dijitSliderHover .dijitSliderRemainingBarH,
.dijitSliderHover .dijitSliderRightBumper {
  background-color: @dijit-slider-hovered-remainingbar-background-color;
  border-color: @dijit-border-hovered-color;
}

.dijitSliderFocused .dijitSliderProgressBarH,
.dijitSliderFocused .dijitSliderLeftBumper {
  background-color: @dijit-slider-focused-fullbar-background-color;
  border-color: @dijit-input-focused-border-color;
  .box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}

.dijitSliderFocused .dijitSliderRemainingBarH,
.dijitSliderFocused .dijitSliderRightBumper {
  background-color: @dijit-slider-focused-remainingbar-background-color;
  border-color: @dijit-input-focused-border-color;
  .box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}

.dijitSliderDisabled .dijitSliderProgressBarH,
.dijitSliderDisabled .dijitSliderLeftBumper {
  background-color: @dijit-disabled-border-color; /* left side of slider, fill matches border */
  background-image: none;
}

.dijitSliderDisabled .dijitSliderRemainingBarH,
.dijitSliderDisabled .dijitSliderRightBumper {
  background-color: @dijit-disabled-background-color;
}

/* Vertical Slider */

.dijitRuleLabelsContainerV {
  padding: 0 2px;
}

.dijitSlider .dijitSliderProgressBarV,
.dijitSlider .dijitSliderBottomBumper {
  border-color: @dijit-border-color;
  background-color: @dijit-slider-fullbar-background-color;
}

.dijitSlider .dijitSliderRemainingBarV,
.dijitSlider .dijitSliderTopBumper {
  border-color: @dijit-border-color;
  background-color: @dijit-slider-remainingbar-background-color;
}

.dijitSliderBottomBumper {
  border-bottom: solid 1px @dijit-border-color;
}

.dijitSliderTopBumper {
  border-top: solid 1px @dijit-border-color;
}

.dijitSliderHover .dijitSliderProgressBarV,
.dijitSliderHover .dijitSliderBottomBumper {
  background-color: @dijit-slider-hovered-fullbar-background-color;
  border-color: @dijit-border-hovered-color;
}

.dijitSliderHover .dijitSliderRemainingBarV,
.dijitSliderHover .dijitSliderTopBumper {
  background-color: @dijit-slider-hovered-remainingbar-background-color;
  border-color: @dijit-border-hovered-color;
}

.dijitSliderFocused .dijitSliderProgressBarV,
.dijitSliderFocused .dijitSliderBottomBumper {
  background-color: @dijit-slider-focused-fullbar-background-color;
  border-color: @dijit-input-focused-border-color;
  .box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}

.dijitSliderFocused .dijitSliderRemainingBarV,
.dijitSliderFocused .dijitSliderTopBumper {
  background-color: @dijit-slider-focused-remainingbar-background-color;
  border-color: @dijit-input-focused-border-color;
  .box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}

.dijitSliderDisabled .dijitSliderProgressBarV,
.dijitSliderDisabled .dijitSliderBottomBumper {
  background-color: @dijit-disabled-border-color; /* bottom side of slider, fill matches border */
}

.dijitSliderDisabled .dijitSliderRemainingBarV,
.dijitSliderDisabled .dijitSliderTopBumper {
  background-color: @dijit-disabled-background-color;
}

/* ------- Thumbs ------- */

.dijitSliderImageHandleH {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("/bundles/app/css/dijit/form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dijitSliderHover .dijitSliderImageHandleH {
  background-position: -18px 0;
}

.dijitSliderFocused .dijitSliderImageHandleH {
  background-position: -36px 0;
}

.dijitSliderProgressBarH .dijitSliderThumbHover {
  background-position: -36px 0;
}

.dijitSliderProgressBarH .dijitSliderThumbActive {
  background-position: -36px 0;
}

.dijitSliderReadOnly .dijitSliderImageHandleH,
.dijitSliderDisabled .dijitSliderImageHandleH {
  background-position: -54px 0;
}

.dijitSliderImageHandleV {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("/bundles/app/css/dijit/form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: -289px 0;
}

.dijitSliderHover .dijitSliderImageHandleV {
  background-position: -307px 0;
}

.dijitSliderFocused .dijitSliderImageHandleV {
  background-position: -325px 0;
}

.dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: -325px 0;
}

.dijitSliderProgressBarV .dijitSliderThumbActive {
  background-position: -325px 0;
}

.dijitSliderReadOnly .dijitSliderImageHandleV,
.dijitSliderDisabled .dijitSliderImageHandleV {
  background-position: -343px 0;
}

/* ---- Increment/Decrement Buttons ---- */

.dijitSliderButtonContainerH {
  padding: 1px 3px 1px 2px;
}

.dijitSliderButtonContainerV {
  padding: 3px 1px 2px 1px;
}

.dijitSliderDecrementIconH,
.dijitSliderIncrementIconH,
.dijitSliderDecrementIconV,
.dijitSliderIncrementIconV {
  background-image: url("/bundles/app/css/dijit/form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-color: @dijit-arrowbutton-background-color;
  .border-radius(2px);
  border: solid 1px @dijit-border-color;
  font-size: 1px;
}

.dijitSliderDecrementIconH,
.dijitSliderIncrementIconH {
  height: 12px;
  width: 9px;
}

.dijitSliderDecrementIconV,
.dijitSliderIncrementIconV {
  height: 9px;
  width: 12px;
}

.dijitSliderActive .dijitSliderDecrementIconH,
.dijitSliderActive .dijitSliderIncrementIconH,
.dijitSliderActive .dijitSliderDecrementIconV,
.dijitSliderActive .dijitSliderIncrementIconV,
.dijitSliderHover .dijitSliderDecrementIconH,
.dijitSliderHover .dijitSliderIncrementIconH,
.dijitSliderHover .dijitSliderDecrementIconV,
.dijitSliderHover .dijitSliderIncrementIconV {
  /* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */
  border: solid 1px @dijit-border-hovered-color;
  background-color: @dijit-slider-hoveredButton-background-color;
}

.dijitSliderDecrementIconH {
  background-position: -357px 50%;
}

.dijitSliderActive .dijitSliderDecrementIconH
.dijitSliderHover .dijitSliderDecrementIconH {
  background-position: -393px 50%;
}

.dijitSliderIncrementIconH {
  background-position: -251px 50%;
}

.dijitSliderActive .dijitSliderIncrementIconH
.dijitSliderHover .dijitSliderIncrementIconH {
  background-position: -283px 50%;
}

.dijitSliderDecrementIconV {
  background-position: -38px 50%;
}

.dijitSliderActive .dijitSliderDecrementIconV
.dijitSliderHover .dijitSliderDecrementIconV {
  background-position: -73px 50%;
}

.dijitSliderIncrementIconV {
  background-position: -143px 49%;
}

.dijitSliderActive .dijitSliderIncrementIconV
.dijitSliderHover .dijitSliderIncrementIconV {
  background-position: -178px 49%;
}

.dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
  background-color: @dijit-slider-button-hovered-background-color;
}

.dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
  background-color: @dijit-slider-button-pressed-background-color;
  border-color: @dijit-pressed-border-color;
}

.dijitSliderButtonInner {
  visibility: hidden;
}

.dijitSliderDisabled .dijitSliderBar {
  border-color: @dijit-disabled-border-color;
}

.dijitSliderReadOnly *, .dijitSliderDisabled * {
  border-color: @dijit-disabled-border-color;
  color: @dijit-disabled-text-color;
}

.dijitSliderReadOnly .dijitSliderDecrementIconH,
.dijitSliderDisabled .dijitSliderDecrementIconH {
  background-position: -321px 50%;
  background-color: @dijit-disabled-background-color;
}

.dijitSliderReadOnly .dijitSliderIncrementIconH,
.dijitSliderDisabled .dijitSliderIncrementIconH {
  background-position: -215px 50%;
  background-color: @dijit-disabled-background-color;
}

.dijitSliderReadOnly .dijitSliderDecrementIconV,
.dijitSliderDisabled .dijitSliderDecrementIconV {
  background-position: -3px 49%;
  background-color: @dijit-disabled-background-color;
}

.dijitSliderReadOnly .dijitSliderIncrementIconV,
.dijitSliderDisabled .dijitSliderIncrementIconV {
  background-position: -107px 49%;
  background-color: @dijit-disabled-background-color;
}
